<div class="carte">
    <div class="entete">
        <img src="{{img}}" title="{{name}}" height="32" width="32"/>
        <span>{{name}}</span>
    </div>
    <div>{{editor system.description target="system.description" owner=true}}</div>
</div>