.agone.sheet.item form {
  display: flex;
  flex-direction: column;
}
.agone.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.agone.sheet.item .sheet-content .editor {
  height: 100%;
}
.agone.sheet.item .sheet-footer {
  display: inline-flex;
}
.small-size {
  flex: 0 1 3.5em;
  padding: 3px;
  text-align: center;
}
select.auto-size {
  margin: 3px;
}
.auto-size {
  flex: 1 1 auto;
  padding: 3px;
}
.agone.sheet.actor label {
  padding: 7px 0;
}
.agone.sheet.actor form {
  display: flex;
  flex-direction: column;
}
.agone.sheet.actor .sheet-header img {
  flex: 0 0 150px;
  height: 150px;
}
.actor-infos-line {
  display: flex;
  flex-flow: row wrap;
}
.actor-flamme {
  display: flex;
  padding: 3px;
  justify-content: center;
}
.actor-flamme div {
  display: flex;
  justify-content: center;
}
.actor-aspects-and-caracs {
  display: flex;
  padding: 3px;
}
.actor-aspects-and-caracs .actor-aspect {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 3px;
  border: solid 1px;
  border-radius: 15px;
}
.actor-aspects-and-caracs .actor-aspect h3 {
  text-align: center;
}
.actor-aspects-and-caracs .actor-aspect .actor-aspect-line {
  display: flex;
  justify-content: center;
}
.actor-aspects-and-caracs .actor-aspect .actor-carac-line,
.actor-aspects-and-caracs .actor-aspect .actor-bonus-line {
  display: grid;
  justify-content: center;
  grid-template-columns: max-content 3.5em;
}
.actor-aspects-and-caracs .actor-aspect .actor-carac-line.corps,
.actor-aspects-and-caracs .actor-aspect .actor-aspect-line {
  display: grid;
  justify-content: center;
  grid-template-columns: max-content 3.5em max-content 3.5em;
}
.actor-caracSec {
  display: flex;
  padding: 3px;
}
.actor-caracSec .actor-caracSec-block {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 3px;
  border: solid 1px;
  border-radius: 15px;
}
.actor-caracSec .actor-caracSec-block h3 {
  text-align: center;
}
.actor-caracSec .actor-caracSec-block .actor-caracSec-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: max-content 3.5em;
}
.actor-fam-comp {
  display: flex;
}
.actor-fam-comp .actor-comp-grid {
  display: grid;
  align-content: start;
  grid-template-columns: max-content 3.5em;
}
.actor-fam-comp .actor-comp-grid .titre-fam {
  grid-column-start: span 2;
  grid-row: 1;
}
