.agone.sheet.item form {
  display: flex;
  flex-direction: column;
}
.agone.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.agone.sheet.item .sheet-content select {
  width: 100%;
}
.agone.sheet.item .sheet-content .editor {
  height: 100%;
}
.agone.sheet.item .sheet-content div {
  padding: 1px;
}
.agone.sheet.item .sheet-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.agone.sheet.item .sheet-body select {
  width: 100%;
}
.agone.sheet.item .sheet-body .editor {
  height: 50%;
}
.agone.sheet.item .sheet-body div {
  padding: 1px;
}
.agone.sheet.item .sheet-footer {
  border-top: solid thin #777777;
  padding: 3px;
}
.grid-titre {
  font-weight: bold;
  text-align: center;
  background-color: rgba(82, 77, 77, 0.075);
  border-top: solid thin #777777;
  padding: 3px;
}
.grid-arme {
  display: grid;
  grid-template-columns: 2fr repeat(5, 1fr) 2.5fr repeat(3, 1fr);
  padding: 3px;
}
.grid-danseur {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 3px;
}
.grid-oeuvre {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr repeat(4, 1fr);
  padding: 3px;
}
.grid-sort {
  display: grid;
  grid-template-columns: 1.5fr repeat(4, 1fr);
  padding: 3px;
}
.grid-armure {
  display: grid;
  grid-template-columns: 1.5fr repeat(3, 1fr);
  padding: 3px;
}
.grid-manoeuvre {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3px;
}
.grid-connivence {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3px;
}
.grid-botteSecrete {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3px;
}
.grid-avantage,
.grid-defaut,
.grid-peine {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 3px;
}
.grid-pvflamme,
.grid-ecole,
.grid-pvsaison {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3px;
}
.grid-sort-disp {
  display: grid;
  grid-template-columns: 2.5em 2fr 2fr 1fr 1fr;
  padding: 3px;
  text-align: center;
}
.grid-sort-disp > * {
  padding: 3px;
}
.grid-sort-disp img {
  border: none;
}
.ligne-effet {
  display: grid;
  grid-template-columns: 2.5em 1fr 2em 2em;
  padding: 3px;
  text-align: center;
}
.ligne-effet > * {
  padding: 3px;
}
.ligne-effet img {
  border: none;
}
.ligne-effet.titre {
  font-weight: bold;
  text-align: center;
  background-color: rgba(82, 77, 77, 0.075);
  border-top: solid thin #777777;
  padding: 3px;
}
.small-size {
  flex: 0 1 3.5em;
  padding: 3px;
  text-align: center;
}
.auto-size {
  flex: 1 1 auto;
  padding: 3px;
}
select.auto-size {
  margin: 3px;
}
.fixed-val {
  background-color: rgba(82, 77, 77, 0.075);
  margin: 2px;
  text-align: center;
}
.warn {
  color: #aa0200;
}
.agone.sheet.actor form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.agone.sheet.actor .sheet-header img,
.sheet-fixed-content img {
  flex: 0 0 150px;
  border: none;
  height: 150px;
}
.agone.sheet.actor .fas,
.agone.sheet.actor .fa-solid {
  padding-top: 6px;
  padding-bottom: 6px;
}
a.nohlight {
  text-shadow: none;
  cursor: default;
}
/*.agone.sheet.actor .fas:hover, .fas:focus {        
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
}*/
.agone.sheet.actor .fullheight {
  height: 100%;
}
.agone.sheet.actor .fullheight .editor {
  height: 170px;
  background-color: rgba(82, 77, 77, 0.075);
}
nav.magie-tabs,
nav.historique-tabs {
  height: 26px;
  line-height: 26px;
  border-bottom: 1px solid #b5b3a4;
}
.actor-infos .actor-name-line {
  display: flex;
  align-items: center;
  justify-content: center;
}
.actor-infos .actor-name-line .padlock {
  font-size: 1.2em;
  margin-left: 5px;
}
.actor-infos .nom-perso {
  font-family: "Lorgol";
  font-size: 3em;
  flex: 2;
}
.actor-infos .nom-perso input[type=text] {
  height: auto;
}
.actor-infos .actor-infos-line {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.actor-infos .actor-infos-line .info-val {
  margin: 4px 7px 0 3px;
  font-family: "BarbedorMedium";
  font-size: 1.3em;
}
.actor-infos .actor-infos-line label {
  margin: 0 3px;
  font-family: "Lorgol";
  font-size: 1.5em;
}
.actor-infos .actor-infos-line input[type=number],
.actor-infos .actor-infos-line input[type=text],
.actor-infos .actor-infos-line select {
  font-family: "BarbedorMedium";
}
.actor-flamme {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
}
.actor-flamme .box-flamme {
  display: flex;
  justify-content: center;
}
.actor-flamme .box-flamme label,
.actor-flamme .box-flamme .info-val {
  margin: 0 5px;
  font-family: "Lorgol";
  font-size: 2.5em;
}
.actor-flamme .box-flamme .slash {
  margin-top: 17px;
}
.aspects-and-caracs {
  display: flex;
  padding: 3px;
}
.aspects-and-caracs .aspect {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 3px;
  border: solid 1px;
  border-radius: 15px;
}
.aspects-and-caracs .aspect .aspect-titre {
  text-align: center;
  font-family: "Lorgol";
  font-size: 2.5em;
}
.aspects-and-caracs .aspect .aspect-line {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: max-content 3.5em max-content 3.5em;
  font-family: "BarbedorMedium";
  font-weight: bold;
}
.aspects-and-caracs .aspect .bonus-line {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: max-content 3.5em;
  font-family: "BarbedorMedium";
  font-weight: bold;
}
.aspects-and-caracs .aspect .carac-line {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: max-content 3.5em 2em;
  font-family: "BarbedorMedium";
}
.aspects-and-caracs .aspect .carac-line.corps {
  display: grid;
  justify-content: center;
  grid-template-columns: max-content 3.5em 2em max-content 3.5em 2em;
  font-family: "BarbedorMedium";
}
.actor-caracSec {
  display: flex;
  padding: 3px;
}
.actor-caracSec .actor-caracSec-block {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 3px;
  border: solid 1px;
  border-radius: 15px;
}
.actor-caracSec .actor-caracSec-block h3 {
  text-align: center;
}
.actor-caracSec .actor-caracSec-block .actor-caracSec-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: max-content 3.5em;
}
.actor-caracSec .actor-caracSec-block .actor-caracSec-grid label {
  padding: 7px 0;
}
.sheet-body {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.tab h3 {
  text-align: center;
}
.actor-fam-comp {
  display: flex;
}
.actor-fam-comp .actor-comp-grid {
  display: grid;
  padding: 3px;
  align-content: start;
  grid-template-columns: 2em 1fr 2.5em 2em;
  font-size: 0.9em;
}
.actor-fam-comp .actor-comp-grid .titre-fam {
  grid-column-start: span 3;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
.actor-fam-comp .actor-comp-grid .titre-comp {
  grid-column-start: span 4;
  font-weight: bold;
}
.actor-fam-comp .actor-comp-grid .lbl-comp {
  position: relative;
  top: 7px;
}
.actor-fam-comp .actor-comp-grid .dom-fixe {
  text-indent: 1em;
  position: relative;
  top: 7px;
}
.actor-fam-comp .actor-comp-grid .dom-perso {
  margin: 2px;
  background-color: rgba(82, 77, 77, 0.075);
}
.actor-fam-comp .actor-comp-grid .dom-perso label {
  position: relative;
  top: 5px;
  left: 2px;
}
.actor-fam-comp .actor-comp-grid .val-comp {
  background-color: rgba(82, 77, 77, 0.075);
  margin: 2px;
  text-align: center;
}
.actor-fam-comp .actor-comp-grid .val-comp label {
  position: relative;
  top: 5px;
}
.actor-fam-comp .actor-comp-grid a {
  text-align: center;
  font-size: 1.2em;
}
.actor-fam-comp .actor-comp-grid a.spec {
  font-size: 1.4em;
}
.recap {
  display: flex;
  flex-direction: row;
  padding: 3px;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.recap div {
  display: flex;
  flex: 1;
  justify-content: center;
}
.recap div label {
  margin: 3px;
}
.recap div label.mod {
  margin-top: 10px;
}
.recap div div {
  margin: 3px;
  flex: 0 1 3em;
}
.recap button {
  flex: 0 0 135px;
}
.liste-armes,
.liste-armures,
.liste-danseurs,
.liste-sorts,
.liste-oeuvres,
.liste-connivences,
.liste-avantages,
.liste-defauts,
.liste-manoeuvres,
.liste-pouvoirs-flamme,
.liste-pouvoirs-saisonnin,
.liste-peines,
.liste-bienfaits {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.ligne-arme {
  display: grid;
  grid-template-columns: 2.5em 2fr 2fr 1.5fr repeat(5, 1fr) 2fr 2fr repeat(3, 1fr) 2em 2em;
  padding: 3px;
  text-align: center;
}
.ligne-arme > * {
  padding: 3px;
}
.ligne-arme img {
  border: none;
}
.ligne-armure {
  display: grid;
  grid-template-columns: 2.5em 1fr 2fr repeat(4, 1fr) 2em 2em;
  padding: 3px;
  text-align: center;
}
.ligne-armure > * {
  padding: 3px;
}
.ligne-armure img {
  border: none;
}
.ligne-armure .inline-chk {
  text-align: center;
}
.ligne-danseur {
  display: grid;
  grid-template-columns: 2.5em 2fr repeat(7, 1fr) 2em 2em;
  padding: 3px;
  text-align: center;
}
.ligne-danseur > * {
  padding: 3px;
}
.ligne-danseur img {
  border: none;
}
.ligne-sort {
  display: grid;
  grid-template-columns: 2.5em 2fr 2fr repeat(4, 1fr) 2em 2em;
  padding: 3px;
  text-align: center;
}
.ligne-sort > * {
  padding: 3px;
}
.ligne-sort img {
  border: none;
}
.ligne-oeuvre {
  display: grid;
  grid-template-columns: 2.5em 2fr 2fr 2fr 2fr repeat(4, 1fr) 2em 2em;
  padding: 3px;
  text-align: center;
}
.ligne-oeuvre > * {
  padding: 3px;
}
.ligne-oeuvre img {
  border: none;
}
.ligne-connivence {
  display: grid;
  grid-template-columns: 2.5em repeat(4, 1fr) 2em 2em;
  padding: 3px;
  text-align: center;
}
.ligne-connivence > * {
  padding: 3px;
}
.ligne-connivence img {
  border: none;
}
.ligne-manoeuvre {
  display: grid;
  grid-template-columns: 2.5em 2fr repeat(4, 1fr) 2em 2em;
  padding: 3px;
  text-align: center;
}
.ligne-manoeuvre > * {
  padding: 3px;
}
.ligne-manoeuvre img {
  border: none;
}
.ligne-botteSecrete {
  display: grid;
  grid-template-columns: 2.5em 2fr 2fr 1fr 2em 2em;
  padding: 3px;
  text-align: center;
}
.ligne-botteSecrete > * {
  padding: 3px;
}
.ligne-botteSecrete img {
  border: none;
}
.ligne-avantage,
.ligne-defaut,
.ligne-peine {
  display: grid;
  grid-template-columns: 2.5em 1fr 1fr 0.5fr 3fr 2em 2em;
  padding: 3px;
  text-align: center;
}
.ligne-avantage > *,
.ligne-defaut > *,
.ligne-peine > * {
  padding: 3px;
}
.ligne-avantage img,
.ligne-defaut img,
.ligne-peine img {
  border: none;
}
.ligne-pouvoir-flamme,
.ligne-pouvoir-saisonnin {
  display: grid;
  grid-template-columns: 2.5em 1.5fr 0.5fr 3fr 2em 2em;
  padding: 3px;
  text-align: center;
}
.ligne-pouvoir-flamme > *,
.ligne-pouvoir-saisonnin > * {
  padding: 3px;
}
.ligne-pouvoir-flamme img,
.ligne-pouvoir-saisonnin img {
  border: none;
}
.ligne-bienfait {
  display: grid;
  grid-template-columns: 2.5em 1fr 3fr 2em 2em;
  padding: 3px;
  text-align: center;
}
.ligne-bienfait > * {
  padding: 3px;
}
.ligne-bienfait img {
  border: none;
}
.ligne-arme.titre,
.ligne-armure.titre,
.ligne-danseur.titre,
.ligne-sort.titre,
.ligne-oeuvre.titre,
.ligne-connivence.titre,
.ligne-avantage.titre,
.ligne-defaut.titre,
.ligne-manoeuvre.titre,
.ligne-botteSecrete.titre,
.ligne-pouvoir-flamme.titre,
.ligne-pouvoir-saisonnin.titre,
.ligne-peine.titre,
.ligne-bienfait.titre {
  font-weight: bold;
  text-align: center;
  background-color: rgba(82, 77, 77, 0.075);
  border-top: solid thin #777777;
  padding: 3px;
}
.txt-small {
  font-size: smaller;
}
.bold {
  font-weight: bold;
}
.chat-message .message-header .message-sender {
  font-family: "Lorgol";
  font-size: 1.8em;
  margin-left: 5px;
}
.chat-message .message-header .message-timestamp {
  font-family: "BarbedorMedium";
}
.chat-message details {
  margin-bottom: 0.25rem;
}
.chat-message .jet-carac,
.chat-message .jet-comp,
.chat-message .suggest-crit,
.chat-message .jet-contre-magie,
.chat-message .jet-desaccord,
.chat-message .jet-oeuvre,
.chat-message .jet-arme,
.chat-message .jet-sort,
.chat-message .jet-pdv {
  font-family: "BarbedorMedium";
}
.chat-message .roll-desc {
  font-size: 1.1em;
  margin: 5px 1px;
}
.chat-message .roll-titre {
  font-size: 1.1em;
  margin-top: 5px;
}
.chat-message .roll-details {
  font-size: 0.8em;
  font-weight: bold;
}
.chat-message .fumble {
  font-size: 1.3em;
  color: #aa0200;
  text-align: center;
  margin: 5px 1px;
}
.chat-message .roll-total {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
.chat-message .roll-result,
.chat-message .titre-suggest {
  font-size: 1.3em;
  text-align: center;
  margin: 5px 1px;
}
.chat-message .nom-suggest {
  font-weight: bold;
}
.chat-message .dices-pool {
  display: flex;
  justify-content: center;
}
.chat-message .dice-back {
  display: flex;
  justify-content: center;
  margin: 3px;
}
.chat-message .dice-back .roll {
  width: 30px;
  line-height: 30px;
  font-size: var(--font-size-16);
  font-weight: bold;
  text-align: center;
  margin: 3px;
}
.chat-message .dice-back .d10 {
  background: url("../images/dice/d10-grey.svg") no-repeat;
  color: black;
  background-size: 30px 30px;
}
.chat-message .dice-back .max {
  color: #18520b;
  filter: sepia(0.5) hue-rotate(60deg);
}
.chat-message .dice-back .min {
  color: #aa0200;
  filter: sepia(0.5) hue-rotate(-60deg);
}
.chat-message .carte {
  display: flex;
  flex-direction: column;
  font-family: "BarbedorMedium";
}
.chat-message .carte .titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
}
.chat-message .carte .titre img {
  display: block;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}
.chat-message .carte .titre .titre-nom {
  flex: 2;
  font-family: "Lorgol";
  font-size: 2em;
  margin-left: 10px;
}
.chat-message .carte .entete {
  font-weight: bold;
}
.chat-message .carte .carte-titre-desc {
  font-weight: bold;
  text-align: center;
  font-size: 1.3em;
}
.chat-message .carte .carte-desc {
  font-family: "BarbedorItalic";
  margin: 5px;
  padding: 3px;
  background-color: rgba(172, 172, 172, 0.35);
}
.chat-message .carte .boutons-carte {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 3px;
}
.chat-message .carte .boutons-carte .ligne-btn-sort {
  width: 100%;
  display: grid;
  grid-template-columns: 2em 1fr;
  text-align: center;
  align-items: center;
  margin: 1px;
}
.chat-message .carte .boutons-carte .ligne-btn-1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin: 1px;
}
.chat-message .carte .boutons-carte .ligne-btn-2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin: 1px;
}
.chat-message .carte .boutons-carte .ligne-btn-3 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin: 1px;
}
.chat-message .carte .boutons-carte a {
  padding-top: 6px;
  padding-bottom: 6px;
}
.chat-message .carte .boutons-carte button {
  margin: 1px;
  width: 90%;
  justify-self: center;
  font-family: "BarbedorMedium";
}
.carte .grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3px;
  text-align: center;
}
.carte .grid-2-chk {
  display: grid;
  grid-template-columns: 9fr 1fr;
  padding: 3px;
  align-items: center;
  text-align: center;
}
.carte .grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3px;
  text-align: center;
}
.carte .grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3px;
  text-align: center;
}
.titre {
  margin-bottom: 0.25rem;
}
.edit-comp-grid {
  display: grid;
  padding: 3px;
  align-content: start;
  grid-template-columns: 1fr 2.5em 2em 1fr 1fr;
}
.edit-comp-grid .ed-grid-titre {
  font-weight: bold;
  text-align: center;
  background-color: rgba(82, 77, 77, 0.075);
  padding: 3px;
  margin-bottom: 0.5rem;
}
.edit-comp-grid .titre-comp {
  grid-column-start: span 5;
  font-weight: bold;
  margin: 2px;
}
.edit-comp-grid .lbl-comp {
  position: relative;
  top: 7px;
  margin: 2px;
}
.edit-comp-grid .dom-fixe {
  text-indent: 1em;
  position: relative;
  top: 7px;
  margin: 2px;
}
.edit-comp-grid .dom-perso {
  margin: 2px;
}
.edit-comp-grid .val-comp {
  text-align: center;
  margin: 2px;
}
@font-face {
  font-family: "Barbedor";
  src: url("../fonts/Barbedor T Regular.ttf") format("truetype");
}
@font-face {
  font-family: "BarbedorMedium";
  src: url("../fonts/Barbedor T Medium.otf") format("opentype");
}
@font-face {
  font-family: "BarbedorItalic";
  src: url("../fonts/BarbedorTOT-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Lorgol";
  src: url("../fonts/Lorgol.ttf") format("truetype");
}
