<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'agone.common.name'}}"/></h1>
    </header>
    <div class="sheet-content">
        <div class="grid-arme">
            <label class="grid-titre">{{localize "agone.items.style"}}</label>
            <label class="grid-titre">{{localize "agone.items.modifInit"}}</label>
            <label class="grid-titre">{{localize "agone.items.modifAttaque"}}</label>
            <label class="grid-titre">{{localize "agone.items.modifParade"}}</label>
            <label class="grid-titre">{{localize "agone.items.modifDommages"}}</label>
            <label class="grid-titre">{{localize "agone.items.portee"}}</label>
            <label class="grid-titre">{{localize "agone.common.type"}}</label>
            <label class="grid-titre">{{localize "agone.items.minForce"}}</label>
            <label class="grid-titre">{{localize "agone.items.minAgilite"}}</label>
            <label class="grid-titre">{{localize "agone.items.tai"}}</label>
            <div>
                <select name="system.style">
                    {{selectOptions config.stylesArme selected=data.system.style localize=true}}
                </select>
            </div>
            <div><input name="system.modifInit" type="text" value="{{data.system.modifInit}}" data-dtype="Number" placeholder="0"/></div>
            <div><input name="system.modifAttaque" type="text" value="{{data.system.modifAttaque}}" data-dtype="Number" placeholder="0"/></div>
            <div><input name="system.modifParade" type="text" value="{{data.system.modifParade}}" data-dtype="Number" placeholder="0"/></div>
            <div><input name="system.modifDommages" type="text" value="{{data.system.modifDommages}}" data-dtype="Number" placeholder="0"/></div>
            <div><input name="system.portee" type="text" value="{{data.system.portee}}" data-dtype="Number" placeholder="0"/></div>
            <div>
                <select name="system.type">
                    {{selectOptions config.typesArme selected=data.system.type localize=true}} 
                </select>
            </div>
            <div><input name="system.minForce" type="text" value="{{data.system.minForce}}" data-dtype="Number" placeholder="0"/></div>
            <div><input name="system.minAgilite" type="text" value="{{data.system.minAgilite}}" data-dtype="Number" placeholder="0"/></div>
            <div><input name="system.tai" type="text" value="{{data.system.tai}}" data-dtype="Number" placeholder="0"/></div>
        </div>
         <div>{{localize "agone.items.armeDesc"}}</div> 
         <div class="ed-150">{{editor data.system.description target="system.description" button=true owner=true editable=true}}</div>
    </div>
    <footer class="sheet-footer">
        <div>{{localize "agone.common.type"}} : <span>{{localize "agone.items.armeLabel"}}</span></div>
    </footer>
</form>