<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'agone.common.name'}}"/></h1>
    </header>
    <div class="sheet-content">
        <div class="grid-armure">
            <label class="grid-titre">{{localize "agone.common.type"}}</label>
            <label class="grid-titre">{{localize "agone.items.protection"}}</label>
            <label class="grid-titre">{{localize "agone.items.malusAgilite"}}</label>
            <label class="grid-titre">{{localize "agone.items.malusPerception"}}</label>
            <div>
                <select name="data.type">
                    {{#select data.data.type}}
                        {{#each config.typesArmure as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}} 
                </select>
            </div>
            <div><input name="data.protection" type="text" value="{{data.data.protection}}" data-dtype="Number" placeholder="0"/></div>
            <div><input name="data.malus" type="text" value="{{data.data.malus}}" data-dtype="Number" placeholder="0"/></div>
            <div><input name="data.malusPerception" type="text" value="{{data.data.malusPerception}}" data-dtype="Number" placeholder="0" readonly/></div>
        </div>
         <div>{{localize "agone.items.armureDesc"}}</div> 
         {{editor content=data.data.description target="data.description" button=true owner=true editable=true}}
    </div>
    <footer class="sheet-footer">
        <div>{{localize "agone.common.type"}} : <span>{{localize "agone.items.armureLabel"}}</span></div>
    </footer>
</form>