<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <div class="item-name"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'agone.items.nom'}}"/></div>
    </header>
    <div class="sheet-content">
        <nav class="sheet-tabs tabs" data-group="primaire">
            <a class="item" data-tab="description">{{localize "agone.items.description"}}</a>
            <a class="item" data-tab="effets">{{localize "agone.items.effets"}}</a>
        </nav>
        <section class="sheet-body">
            <div class="tab" data-group="primaire" data-tab="description">
                <div class="grid-2col">
                    <div class="col-stats">
                        <div class="grid-avg-stats">
                            <div class="lib-titre">{{localize "agone.items.avantage"}}</div>
                            <div>{{localize "agone.common.type"}}</div>
                            <div class="sel">
                                <select name="system.type">
                                    {{selectOptions config.typesAvantageDefaut selected=data.system.type localize=true}} 
                                </select>
                            </div>
                            <div class="lib">{{localize "agone.common.cout"}}</div>
                            <div class="val"><input name="system.cout" type="number" value="{{data.system.cout}}" placeholder="0" min="0"/></div>
                        </div>
                    </div>
                    <div>
                        <div class="desc-titre">{{localize "agone.items.avantageDesc"}}</div> 
                        <div class="ed-100">
                            {{editor data.system.description target="system.description" engine="prosemirror" button=true editable=true}}
                        </div>
                        <div class="desc-titre">{{localize "agone.items.prerequis"}}</div>
                        <div class="ed-100">
                            {{editor data.system.prerequis target="system.prerequis" engine="prosemirror" button=true editable=true}}
                        </div>
                        <div class="desc-titre">{{localize "agone.items.descBonus"}}</div>
                        <div class="ed-100">
                            {{editor data.system.descBonus target="system.descBonus" engine="prosemirror" button=true editable=true}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab" data-group="primaire" data-tab="effets">
                <div class="ligne-eff">
                    <div class="titre-eff">{{localize "agone.items.effets"}}</div>
                    <a class="creer-effet icone" title="{{localize 'agone.common.ajouter'}}"><i class="fas fa-plus"></i></a>
                </div>
                {{#each item.effects as |effet id|}}
                <div class="ligne-effet effet" data-effect-id="{{effet.id}}">
                    <a class="editer-effet"><img src="{{effet.img}}" title="{{localize 'agone.common.editer'}}" height="32" width="32"/></a>
                    <div>{{effet.name}}</div>
                    <a class="editer-effet" title="{{localize 'agone.common.editer'}}"><i class="fas fa-edit"></i></a>
                    <a class="supprimer-effet" title="{{localize 'agone.common.supprimer'}}"><i class="fas fa-trash"></i></a>
                </div>            
                {{/each}}
            </div>
        </section>
    </div>
</form>