<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'agone.common.name'}}"/></h1>
    </header>
    <div class="sheet-content">
        <div class="grid-avantage">
            <label class="grid-titre">{{localize "agone.common.type"}}</label>
            <label class="grid-titre">{{localize "agone.common.cout"}}</label>
            <div>
                <select name="data.type">
                    {{#select data.type}}
                        {{#each config.typesAvantageDefaut as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}} 
                </select>
            </div>
            <div><input name="data.cout" type="text" value="{{data.cout}}" data-dtype="Number" placeholder="0"/></div>
        </div>
        <div>{{localize "agone.avantage.descriptionLabel"}}</div>
        {{editor content=data.description target="data.description" button=true owner=true editable=true}}
        <div>
            <span>{{localize "agone.avantage.descBonus"}}</span>
            <textarea name="data.descBonus" placeholder="{{localize 'agone.avantage.descBonus'}}">{{data.descBonus}}</textarea>
        </div> 
        <div>
            <span>{{localize "agone.avantage.prerequis"}}</span>
            <input name="data.prerequis" type="text" value="{{data.prerequis}}" placeholder="{{localize 'agone.avantage.prerequis'}}"/>
        </div> 
    </div>
    <footer class="sheet-footer">
        <div>{{localize "agone.common.type"}} : <span>{{localize "agone.avantage.label"}}</span></div>
    </footer>
</form>