<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <div class="item-name"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'agone.items.nom'}}"/></div>
    </header>
    <div class="sheet-content">
        <div class="desc-titre">{{localize "agone.items.bienfaitDesc"}}</div>
        <div class="ed-200">
            {{editor data.system.description target="system.description" engine="prosemirror" button=true editable=true}}
        </div>
        <div class="desc-titre">{{localize "agone.items.descBonus"}}</div>
        <div class="ed-150">
            {{editor data.system.descBonus target="system.descBonus" engine="prosemirror" button=true editable=true}}
        </div>
    </div>
</form>