<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'agone.common.name'}}"/></h1>
    </header>
    <div class="sheet-content">
        <div>
            <span>{{localize "agone.items.bienfaitDesc"}}</span>
        </div>
        {{editor content=data.data.description target="data.description" button=true owner=true editable=true}}
        <div>
            <span>{{localize "agone.items.descBonus"}}</span>
            <textarea name="data.descBonus" placeholder="{{localize 'agone.items.descBonus'}}">{{data.data.descBonus}}</textarea>
        </div>
    </div>
    <footer class="sheet-footer">
        <div>{{localize "agone.common.type"}} : <span>{{localize "agone.items.bienfaitLabel"}}</span></div>
    </footer>
</form>