<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <div class="item-name"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'agone.items.nom'}}"/></div>
    </header>
    <div class="sheet-content">
        <div class="grid-2col">
            <div class="col-stats">
                <div class="grid-botte-stats">
                    <div class="lib-titre">{{localize "agone.items.botteSecrete"}}</div>
                    <div>{{localize "agone.items.ecoleLabel"}}</div>
                    <div class="sel"><input name="system.ecole" type="text" value="{{data.system.ecole}}" placeholder="{{localize 'agone.items.ecoleLabel'}}"/></div>
                    <div class="lib">{{localize "agone.items.rarete"}}</div>
                    <div class="val"><input name="system.rarete" type="number" value="{{data.system.rarete}}" placeholder="0" min="0"/></div>
                </div>
            </div>
            <div>
                <div class="desc-titre">{{localize "agone.items.botteSecreteDesc"}}</div>
                <div class="ed-150">
                    {{editor data.system.description target="system.description" engine="prosemirror" button=true editable=true}}
                </div>
                <div class="desc-titre">{{localize "agone.items.condition"}}</div>
                <div class="ed-150">
                    {{editor data.system.condition target="system.condition" engine="prosemirror" button=true editable=true}}
                </div>
            </div>
        </div>
    </div>
</form>