<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'agone.common.name'}}"/></h1>
    </header>
    <div class="sheet-content">
        <div class="grid-botteSecrete">
            <label class="grid-titre">{{localize "agone.items.ecoleLabel"}}</label>
            <label class="grid-titre">{{localize "agone.items.rarete"}}</label>
            <div><input name="data.ecole" type="text" value="{{data.data.ecole}}" placeholder="{{localize 'agone.items.ecoleLabel'}}"/></div>
            <div><input name="data.rarete" type="text" value="{{data.data.rarete}}" data-dtype="Number" placeholder="0"/></div>
        </div>
         <div>{{localize "agone.items.botteSecreteDesc"}}</div> 
            {{editor content=data.data.description target="data.description" button=true owner=true editable=true}}
        </div>
        <div>
            <span>{{localize "agone.items.condition"}}</span>
            <textarea name="data.condition" placeholder="{{localize 'agone.items.condition'}}">{{data.data.condition}}</textarea>
        </div>
    <footer class="sheet-footer">
        <div>{{localize "agone.common.type"}} : <span>{{localize "agone.items.botteSecreteLabel"}}</span></div>
    </footer>
</form>