<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'agone.common.name'}}"/></h1>
    </header>
    <div class="sheet-content">
        <div class="grid-connivence">
            <label class="grid-titre">{{localize "agone.items.cercleDemon"}}</label>
            <label class="grid-titre">{{localize "agone.items.nomDemon"}}</label>
            <label class="grid-titre">{{localize "agone.items.nomAdvocatus"}}</label>
            <div>
                <select name="system.cercleDemon">
                    {{selectOptions config.cerclesDemon selected=data.system.cercleDemon localize=true}}
                </select>
            </div>
            <div><input name="system.nomDemon" type="text" value="{{data.system.nomDemon}}" placeholder="{{localize 'agone.items.nomDemon'}}"/></div>
            <div><input name="system.nomAdvocatus" type="text" value="{{data.system.nomAdvocatus}}" placeholder="{{localize 'agone.items.nomAdvocatus'}}"/></div>
        </div>
        <div>{{localize "agone.items.termes"}}</div> 
        <div class="ed-200">{{editor data.system.termes target="system.termes" button=true owner=true editable=true}}</div>
    </div>
    <footer class="sheet-footer">
        <div>{{localize "agone.common.type"}} : <span>{{localize "agone.items.connivenceLabel"}}</span></div>
    </footer>
</form>