<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'agone.common.name'}}"/></h1>
    </header>
    <div class="sheet-content">
        <div class="grid-danseur">
            <label class="grid-titre">{{localize "agone.items.memoireDispo"}}</label>
            <label class="grid-titre">{{localize "agone.items.memoireMax"}}</label>
            <label class="grid-titre">{{localize "agone.items.bonusEmprise"}}</label>
            <label class="grid-titre">{{localize "agone.items.empathie"}}</label>
            <label class="grid-titre">{{localize "agone.items.enduranceDispo"}}</label>
            <label class="grid-titre">{{localize "agone.items.enduranceMax"}}</label>
            <label class="grid-titre">{{localize "agone.actors.experience"}}</label>
            <div><input name="system.memoire.value" type="text" value="{{data.system.memoire.value}}" data-dtype="Number" placeholder="0" readonly/></div>
            <div><input name="system.memoire.max" type="text" value="{{data.system.memoire.max}}" data-dtype="Number" placeholder="0" min="0"/></div>
            <div><input name="system.bonusEmprise" type="text" value="{{data.system.bonusEmprise}}" data-dtype="Number" placeholder="0" min="0"/></div>
            <div><input name="system.empathie" type="text" value="{{data.system.empathie}}" data-dtype="Number" placeholder="0" min="0"/></div>
            <div><input name="system.endurance.value" type="text" value="{{data.system.endurance.value}}" data-dtype="Number" placeholder="0" readonly/></div>
            <div><input name="system.endurance.max" class="enduranceMax" type="text" value="{{data.system.endurance.max}}" data-dtype="Number" placeholder="0" min="0"/></div>
            <div><input name="system.experience" type="text" value="{{data.system.experience}}" data-dtype="Number" placeholder="0" min="0"/></div>
        </div>
        <div>{{localize "agone.items.danseurDesc"}}</div> 
        <div class="ed-100">{{editor data.system.description target="system.description" button=true owner=true editable=true}}</div>
        {{#if data.system.sortsDispo}}
            <h3>Sorts disponibles</h3>
            <div class="grid-sort-disp">
                <label class="grid-titre"></label>
                <label class="grid-titre">{{localize "agone.common.name"}}</label>
                <label class="grid-titre">{{localize "agone.items.resonance"}}</label>
                <label class="grid-titre">{{localize "agone.items.seuil"}}</label>
                <label class="grid-titre">{{localize "agone.items.sortConnu"}}</label>
                {{#each data.system.sortsDispo as | sort | }}
                    <img src="{{sort.img}}" title="{{sort.name}}" height="32" width="32"/>
                    <label>{{sort.name}}</label>
                    <label>{{sort.system.resonance}}</label>
                    <label>{{sort.system.seuil}}</label>
                    {{#if sort.connu }}
                        <div class="uncheck-sort-connu sort" data-item-id="{{sort.id}}"><i class="far fa-check-square"></i></div>
                    {{else}}
                        <div class="check-sort-connu sort" data-item-id="{{sort.id}}"><i class="far fa-square"></i></div>
                    {{/if}}
                    
                {{/each}}
            </div>
        {{/if}}
    </div>
    <footer class="sheet-footer">
        <div>{{localize "agone.common.type"}} : <span>{{localize "agone.items.danseurLabel"}}</span></div>
    </footer>
</form>