<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'agone.common.name'}}"/></h1>
    </header>
    <div class="sheet-content">
        <div class="grid-manoeuvre">
            <label class="grid-titre">{{localize "agone.items.modifInit"}}</label>
            <label class="grid-titre">{{localize "agone.items.modifAttaque"}}</label>
            <label class="grid-titre">{{localize "agone.items.modifDefense"}}</label>
            <label class="grid-titre">{{localize "agone.items.modifDommages"}}</label>
            <div><input name="system.modifInit" type="text" value="{{data.system.modifInit}}" data-dtype="Number" placeholder="0"/></div>
            <div><input name="system.modifAttaque" type="text" value="{{data.system.modifAttaque}}" data-dtype="Number" placeholder="0"/></div>
            <div><input name="system.modifDefense" type="text" value="{{data.system.modifDefense}}" data-dtype="Number" placeholder="0"/></div>
            <div><input name="system.modifDommages" type="text" value="{{data.system.modifDommages}}" data-dtype="Number" placeholder="0"/></div>
        </div>
         <div>{{localize "agone.items.manoeuvreDesc"}}</div> 
            {{editor data.system.description target="system.description" button=true owner=true editable=true}}
        </div>
        <div>
            <span>{{localize "agone.items.condition"}}</span>
            <textarea name="system.condition" placeholder="{{localize 'agone.items.condition'}}">{{data.system.condition}}</textarea>
        </div>
    <footer class="sheet-footer">
        <div>{{localize "agone.common.type"}} : <span>{{localize "agone.items.manoeuvreLabel"}}</span></div>
    </footer>
</form>