<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'agone.common.name'}}"/></h1>
    </header>
    <div class="sheet-content">
        <div class="grid-oeuvre">
            <label class="grid-titre">{{localize "agone.oeuvre.artMagique"}}</label>
            <label class="grid-titre">{{localize "agone.common.saison"}}</label>
            <label class="grid-titre">{{localize "agone.common.seuil"}}</label>
            <label class="grid-titre">{{localize "agone.common.portee"}}</label>
            <label class="grid-titre">{{localize "agone.oeuvre.tempsPreparation"}}</label>
            <label class="grid-titre">{{localize "agone.oeuvre.dureeOeuvre"}}</label>
            <div>
                <select name="data.artMagique">
                    {{#select data.artMagique}}
                        {{#each config.arts as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
            <div>
                <select name="data.saison">
                    {{#select data.saison}}
                        {{#each config.saisons as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
            <div><input name="data.seuil" type="text" value="{{data.seuil}}" data-dtype="Number" placeholder="0"/></div>
            <div><input name="data.portee" type="text" value="{{data.portee}}" placeholder="{{localize 'agone.common.portee'}}"/></div>
            <div><input name="data.tempsPreparation" type="text" value="{{data.tempsPreparation}}" placeholder="{{localize 'agone.oeuvre.tempsPreparation'}}"/></div>
            <div><input name="data.dureeOeuvre" type="text" value="{{data.dureeOeuvre}}" placeholder="{{localize 'agone.oeuvre.dureeOeuvre'}}"/></div>
        </div>
         <div>{{localize "agone.oeuvre.descriptionLabel"}}</div> 
         {{editor content=data.description target="data.description" button=true owner=true editable=true}}
    </div>
    <footer class="sheet-footer">
        <div>{{localize "agone.common.type"}} : <span>{{localize "agone.oeuvre.label"}}</span></div>
    </footer>
</form>