<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'agone.common.name'}}"/></h1>
    </header>
    <div class="sheet-content">
        <div class="grid-oeuvre">
            <label class="grid-titre">{{localize "agone.items.artMagique"}}</label>
            <label class="grid-titre">{{localize "agone.actors.saison"}}</label>
            <label class="grid-titre">{{localize "agone.items.instrument"}}</label>
            <label class="grid-titre">{{localize "agone.items.seuil"}}</label>
            <label class="grid-titre">{{localize "agone.items.porteeZoneEffet"}}</label>
            <label class="grid-titre">{{localize "agone.items.tempsPreparation"}}</label>
            <label class="grid-titre">{{localize "agone.items.dureeOeuvre"}}</label>
            <div>
                <select name="system.artMagique">
                    {{#select data.system.artMagique}}
                        {{#each config.arts as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
            <div>
                <select name="system.saison">
                    {{#select data.system.saison}}
                        {{#each config.saisons as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
            <div>
                <select name="system.instrument">
                    {{#select data.system.instrument}}
                        {{#each config.instruments as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
            <div><input name="system.seuil" type="text" value="{{data.system.seuil}}" data-dtype="Number" placeholder="0"/></div>
            <div><input name="system.portee" type="text" value="{{data.system.portee}}" placeholder="{{localize 'agone.items.porteeZoneEffet'}}"/></div>
            <div><input name="system.tempsPreparation" type="text" value="{{data.system.tempsPreparation}}" placeholder="{{localize 'agone.items.tempsPreparation'}}"/></div>
            <div><input name="system.dureeOeuvre" type="text" value="{{data.system.dureeOeuvre}}" placeholder="{{localize 'agone.items.dureeOeuvre'}}"/></div>
        </div>
         <div>{{localize "agone.items.oeuvreDesc"}}</div> 
         <div class="ed-150">{{editor data.system.description target="system.description" button=true owner=true editable=true}}</div>
    </div>
    <footer class="sheet-footer">
        <div>{{localize "agone.common.type"}} : <span>{{localize "agone.items.oeuvreLabel"}}</span></div>
    </footer>
</form>