<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'agone.common.name'}}"/></h1>
    </header>
    <div class="sheet-content">
        <nav class="sheet-tabs tabs" data-group="primaire">
            <a class="item" data-tab="description">{{localize "agone.items.description"}}</a>
            <a class="item" data-tab="effets">{{localize "agone.items.effets"}}</a>
        </nav>
        <section class="sheet-body">
            <div class="tab" data-group="primaire" data-tab="description">
                <div class="grid-peine">
                    <label class="grid-titre">{{localize "agone.common.type"}}</label>
                    <label class="grid-titre">{{localize "agone.items.palier"}}</label>
                    <div>
                        <select name="system.type">
                            {{selectOptions config.typesPeine selected=data.system.type localize=true}}
                        </select>
                    </div>
                    <div><input name="system.palier" type="text" value="{{data.system.palier}}" data-dtype="Number" placeholder="0"/></div>
                </div>
                <div>
                    <span>{{localize "agone.items.peineDesc"}}</span>
                </div>
                <div class="ed-200">{{editor data.system.description target="system.description" button=true owner=true editable=true}}</div>
                <div>
                    <span>{{localize "agone.items.descMalus"}}</span>
                    <textarea name="system.descMalus" placeholder="{{localize 'agone.items.descMalus'}}">{{data.system.descMalus}}</textarea>
                </div>
                <!-- Gérer la sélection du bienfait associé -->
            </div>
            <div class="tab" data-group="primaire" data-tab="effets">
                <div class="ligne-effet titre">
                    <label></label>
                    <label>{{localize "agone.common.name"}}</label>
                    <label></label>
                    <a class="creer-effet" title="{{localize 'agone.common.ajouter'}}"><i class="fas fa-plus"></i></a>
                </div>
                {{#each item.effects as |effet id|}}
                <div class="ligne-effet effet" data-effect-id="{{effet.id}}">
                    <a class="editer-effet"><img src="{{effet.data.icon}}" title="{{localize 'agone.common.editer'}}" height="32" width="32"/></a>
                    <div>{{effet.data.label}}</div>
                    <a class="editer-effet" title="{{localize 'agone.common.editer'}}"><i class="fas fa-edit"></i></a>
                    <a class="supprimer-effet" title="{{localize 'agone.common.supprimer'}}"><i class="fas fa-trash"></i></a>
                </div>            
                {{/each}}
            </div>
        </section>       
    </div>
    <footer class="sheet-footer">
        <div>{{localize "agone.common.type"}} : <span>{{localize "agone.items.peineLabel"}}</span></div>
    </footer>
</form>