<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <div class="item-name"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'agone.items.nom'}}"/></div>
    </header>
    <div class="sheet-content">
        <div class="grid-2col">
            <div class="col-stats">
                <div class="grid-pvsais-stats">
                    <div class="lib-titre">{{localize "agone.items.pouvoirSaison"}}</div>
                    <div>{{localize "agone.actors.saisonnin"}}</div>
                    <div class="sel">
                        <select name="system.saisonnin">
                            {{selectOptions config.saisonnins selected=data.system.saisonnin localize=true}}
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <div class="desc-titre">{{localize "agone.items.pouvoirSaisonDesc"}}</div>
                <div class="ed-200">
                    {{editor data.system.description target="system.description" engine="prosemirror" button=true editable=true}}
                </div>
                <div class="desc-titre">{{localize "agone.items.descEffet"}}</div>
                <div class="ed-150">
                    {{editor data.system.descEffet target="system.descEffet" engine="prosemirror" button=true editable=true}}
                </div>
            </div>
        </div>
    </div>
</form>