<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'agone.common.name'}}"/></h1>
    </header>
    <div class="sheet-content">
        <div class="grid-pvsaison">
            <label class="grid-titre">{{localize "agone.actors.saisonnin"}}</label>
            <div>
                <select name="system.saisonnin">
                    {{#select data.system.saisonnin}}
                        {{#each config.saisonnins as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}} 
                </select>
            </div>
        </div>
        <div>
            <span>{{localize "agone.items.pouvoirSaisonDesc"}}</span>
        </div>
        {{editor data.system.description target="system.description" button=true owner=true editable=true}}
        <div>
            <span>{{localize "agone.items.descEffet"}}</span>
            <textarea name="system.descEffet" placeholder="{{localize 'agone.items.descEffet'}}">{{data.system.descEffet}}</textarea>
        </div>
    </div>
    <footer class="sheet-footer">
        <div>{{localize "agone.common.type"}} : <span>{{localize "agone.items.pouvoirSaisonLabel"}}</span></div>
    </footer>
</form>