<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'agone.common.name'}}"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "agone.common.season"}}</th>
                <th>{{localize "agone.seasonPower.fortuneCost"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="data.season">
                        {{#select data.season}}
                        {{#each config.seasons as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}} 
                    </select>
                </td>
                 <td>
                     <input name="data.fortuneCost" type="text" value="{{data.fortuneCost}}" data-dtype="Number" placeholder="0"/>
                 </td>
            </tr>
        </table>
        <div>
            <span>{{localize "agone.seasonPower.descriptionLabel"}}</span>
        </div>
        {{editor content=data.description target="data.description" button=true owner=true editable=true}}
    </div>
    <footer class="sheet-footer">
        <div>
            <hr>
            <p>{{localize "agone.common.type"}} : <span>{{localize "agone.seasonPower.label"}}</span></p>
        </div>
    </footer>
</form>