<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <div class="item-name"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'agone.items.nom'}}"/></div>
    </header>
    <div class="sheet-content">
        <div class="grid-2col">
            <div class="col-stats">
                <div class="grid-sort-stats">
                    <div class="lib-titre">{{localize "agone.items.sort"}}</div>
                    <div>{{localize "agone.items.resonance"}}</div>
                    <div class="sel">
                        <select name="system.resonance">
                            {{selectOptions config.resonances selected=data.system.resonance localize=true}}
                        </select>
                    </div>
                    <div class="lib-titre">{{localize "agone.items.statistiques"}}</div>
                    <div class="lib">{{localize "agone.items.seuil"}}</div>
                    <div class="val"><input name="system.seuil" type="number" value="{{data.system.seuil}}" placeholder="0" min="0"/></div>
                    <div><i class="fa-duotone fa-solid fa-ruler-horizontal"></i> {{localize "agone.items.porteeZone"}}</div>
                    <div class="sel"><input name="system.portee" type="text" value="{{data.system.portee}}" placeholder="{{localize 'agone.items.porteeZoneEffet'}}"/></div>
                    <div><i class="fa-duotone fa-solid fa-sparkles"></i> {{localize "agone.items.danse"}}</div>
                    <div class="sel"><input name="system.dureeDanse" type="text" value="{{data.system.dureeDanse}}" placeholder="{{localize 'agone.items.dureeDanse'}}"/></div>
                    <div><i class="fa-duotone fa-solid fa-hourglass-clock"></i> {{localize "agone.items.sort"}}</div>
                    <div class="sel"><input name="system.dureeSort" type="text" value="{{data.system.dureeSort}}" placeholder="{{localize 'agone.items.dureeSort'}}"/></div>
                </div>
            </div>
            <div>
                <div class="desc-titre">{{localize "agone.items.sortDesc"}}</div>
                <div class="ed-200">
                    {{editor data.system.description target="system.description" engine="prosemirror" button=true editable=true}}
                </div>
            </div>
        </div>
    </div>
</form>