<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'agone.common.name'}}"/></h1>
    </header>
    <div class="sheet-content">
        <div class="grid-sort">
            <label class="grid-titre">{{localize "agone.items.resonance"}}</label>
            <label class="grid-titre">{{localize "agone.items.seuil"}}</label>
            <label class="grid-titre">{{localize "agone.items.porteeZoneEffet"}}</label>
            <label class="grid-titre">{{localize "agone.items.dureeDanse"}}</label>
            <label class="grid-titre">{{localize "agone.items.dureeSort"}}</label>
            <div>
                <select name="system.resonance">
                    {{#select data.system.resonance}}
                        {{#each config.resonances as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
            <div><input name="system.seuil" type="text" value="{{data.system.seuil}}" data-dtype="Number" placeholder="0"/></div>
            <div><input name="system.portee" type="text" value="{{data.system.portee}}" placeholder="{{localize 'agone.items.porteeZoneEffet'}}"/></div>
            <div><input name="system.dureeDanse" type="text" value="{{data.system.dureeDanse}}" placeholder="{{localize 'agone.items.dureeDanse'}}"/></div>
            <div><input name="system.dureeSort" type="text" value="{{data.system.dureeSort}}" placeholder="{{localize 'agone.items.dureeSort'}}"/></div>
        </div>
         <div>{{localize "agone.items.sortDesc"}}</div> 
         {{editor data.system.description target="system.description" button=true owner=true editable=true}}
    </div>
    <footer class="sheet-footer">
        <div>{{localize "agone.common.type"}} : <span>{{localize "agone.items.sortLabel"}}</span></div>
    </footer>
</form>