<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'agone.common.name'}}"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "agone.weapon.style"}}</th>
                <th>{{localize "agone.weapon.initMod"}}</th>
                <th>{{localize "agone.weapon.attackMod"}}</th>
                <th>{{localize "agone.weapon.defenseMod"}}</th>
                <th>{{localize "agone.weapon.damagesMod"}}</th>
                <th>{{localize "agone.common.type"}}</th>
                <th>{{localize "agone.weapon.minStrength"}}</th>
                <th>{{localize "agone.weapon.minAgility"}}</th>
                <th>{{localize "agone.weapon.SIZ"}}</th>
                <!-- <th>{{localize "agone.weapon.skillname"}}</th> -->
            </tr>
            <tr>
                <td>
                    <select name="data.style">
                        {{#select data.style}}
                        {{#each config.weaponStyles as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="data.initMod" type="text" value="{{data.initMod}}" data-dtype="Number" placeholder="0"/>
                </td>
                <td>
                    <input name="data.attackMod" type="text" value="{{data.attackMod}}" data-dtype="Number" placeholder="0"/>
                </td>
                <td>
                    <input name="data.defenseMod" type="text" value="{{data.defenseMod}}" data-dtype="Number" placeholder="0"/>
                </td>
                <td>
                    <input name="data.damagesMod" type="text" value="{{data.damagesMod}}" data-dtype="Number" placeholder="0"/>
                </td>
                <td>
                    <select name="data.type">
                        {{#select data.type}}
                        {{#each config.weaponTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}} 
                    </select>
                </td>
                <td>
                    <input name="data.minStrength" type="text" value="{{data.minStrength}}" data-dtype="Number" placeholder="0"/>
                </td>
                <td>
                    <input name="data.minAgility" type="text" value="{{data.damagesMod}}" data-dtype="Number" placeholder="0"/>
                </td>
                <td>
                    <input name="data.SIZ" type="text" value="{{data.SIZ}}" data-dtype="Number" />
                </td>
                <!-- <td></td> récupérer la compétence selon l'acteur -->
            </tr>
        </table>
         <div>{{localize "agone.weapon.descriptionLabel"}}</div> 
         {{editor content=data.description target="data.description" button=true owner=true editable=true}}
    </div>
    <footer class="sheet-footer">
        <div>
            <hr>
            <p>{{localize "agone.common.type"}} : <span>{{localize "agone.weapon.label"}}</span></p>
        </div>
    </footer>
</form>