<div class="recap">
    <button class="initiative txt-small"><i class="fa-duotone fa-solid fa-bolt"></i> {{localize "agone.actors.initiative"}}</button>
    <!-- <button class="esquive txt-small">{{localize "agone.actors.esquive"}}</button>
    <button class="defenseNat txt-small">{{localize "agone.actors.defenseNat"}}</button>
    <button class="resistMagieNat txt-small">{{localize "agone.actors.resistMagie"}}</button> -->
</div>