{{#if system.porte}}
    <div class="icone"><a class="mod-porter-equip" data-action="deposer" title="{{localize 'agone.tooltip.clickPourDeposerEquipement'}}"><i class="fa-solid fa-backpack"></i></a></div>
{{else}}
    <div class="icone"><a class="mod-porter-equip" data-action="porter" title="{{localize 'agone.tooltip.clickPourPorterEquipement'}}"><i class="fa-light fa-backpack"></i></a></div>
{{/if}}