.small-size {
    flex: 0 1 3.5em;
    padding: 3px;
    text-align: center;
}

.auto-size {
    flex: 1 1 auto;
    padding: 3px;
}

select.auto-size {
    margin: 3px;
}

.fixed-val {
    background-color: var(--color-stats-background);
    margin: 2px;
    text-align: center;
    flex: 0 1 3em;
}

.warn {
    color: var(--color-red-warning);
}

.white {
    color: white;
}

.cd-blanc {
    color:var(--color-cercle-1);
}

.cd-bleu {
    color: var(--color-cercle-2);
}

.cd-jaune {
    color: var(--color-cercle-3);
}

.cd-rouge {
    color: var(--color-cercle-4);
}

.cd-noir {
    color: var(--color-cercle-5);
}

.agone.sheet.actor  {
    
    form {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    nav.tabs {
        font-family: "BarbedorMedium";
        align-items: center;
    
        .active {
            font-weight: bold;
            font-size: 1.2em;
        }
    }

    nav:not(.sheet-tabs) {
        margin-bottom: 10px;
    }

    .sheet-body {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
        //scrollbar-color: var(--color-scroolbar);
    }

    .competences-content, .combat-content, .magie-content, .equipement-content, .historique-content {
        height: 100%;
    }

    .fullheight {
        height: 100%;
    
        .editor {
            height: 170px;
            background-color: var(--color-stats-background);
        }
    }

    .tab.histoire {
        margin: 3px;
        
        .editor {
            height: 170px;
            background-color: var(--color-stats-background);
        }
    }
}

.agone.sheet.actor .sheet-header, .sheet-fixed-content {
    img {
        flex: 0 0 150px;
        border: none;
        height: 150px;
    }
}

a.nohlight {
    text-shadow: none;
    cursor: default;
}

/*.agone.sheet.actor .fas:hover, .fas:focus {        
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
}*/

.actor-infos {
    width: 100%;

    .info-val {
        margin: 4px 7px 0 3px;
        font-family: "BarbedorMedium";
        font-size: 1.3em;
    }

    label {
        margin: 0 3px;
        font: var(--font-lorgol-21px);
    }

    input[type=number] , input[type=text], select {
        font-family: "BarbedorMedium";
    }

    .actor-name-line {
        display: grid;
        grid-template-columns: 1fr 25px;
        align-items: center;
        justify-content: center;

        .nom-perso  {
            margin-left: 10px;
            font: var(--font-lorgol-nom-perso);

            input[type=text] {
                height: auto;
                font-family: "Lorgol";
            }
        }

        .padlock {
            font-size: 1.2em;
            margin-left: 5px;
        }
    }

    .actor-infos-line-1 {
        display: grid;
        grid-template-columns: 1.1fr 3fr 0.8fr 3fr;
        align-items: center;
        height: 32px;
    }

    .actor-infos-line-2 {
        display: grid;
        grid-template-columns: 0.7fr 2.5fr 1fr 3.5fr 0.7fr 1.5fr;
        align-items: center;
        height: 32px;

        .peuple {
            display: flex;
            align-items: center;

            select {
                flex: 2;
            }

            i {
                margin: 0 8px 0 2px;
            }
        }
    }

    .actor-infos-line-3 {
        display: grid;
        grid-template-columns: 1.8fr 1fr 0.8fr 1.2fr 0.7fr 0.7fr 0.8fr 1.1fr 1fr 0.7fr;
        align-items: center;
        height: 32px;

        .jet-vieil-item {
            display: flex;
            align-items: center;
        }
    }
}

.actor-flamme {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;

    .box-flamme {
        display: flex;
        justify-content: center;

        label, .info-val {
            margin: 0 5px;
            font: var(--font-lorgol-35px);
        }

        .slash {
            margin-top: 17px;
        }

        .pc-box {
            align-self: center;
            padding: 3px;
            margin: 0 5px;
            font-family: "BarbedorMedium";
            font-size: 0.9em;
            text-align: center;

            border: solid 1px var(--color-box-border);;
            background-color: var(--color-stats-background);;
            border-radius: 3px;
        }
    }
}

.actor-flamme.pc {
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr;
}

.aspects-and-caracs {
    display: flex;
    padding: 3px;

    .bd-left {
        border-left: solid 2px var(--color-box-border);;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .bd-right {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .aspect {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        border-top: solid 2px var(--color-box-border);;
        border-right: solid 2px var(--color-box-border);;
        border-bottom: solid 2px var(--color-box-border);;
        
        .aspect-titre {
            text-align: center;
            font: var(--font-lorgol-35px);

            background-color: var(--color-stats-background);
            border-bottom: solid 2px var(--color-box-border);;
            border-bottom-left-radius: 50% 30%;
            border-bottom-right-radius: 50% 30%;
        
            margin-bottom: 5px;
        }

        .aspect-line {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: max-content 3.5em max-content 3.5em;
            font-family: "BarbedorMedium";
            font-weight: bold;
        }

        .aspect-line-unlocked {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: max-content 1.5em 3.5em 1.5em;
            font-family: "BarbedorMedium";
            font-weight: bold;
        }

        .bonus-line {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: max-content 3.5em;
            font-family: "BarbedorMedium";
            font-weight: bold;
        }

        .carac-line {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: max-content 3.5em 2em;
            font-family: "BarbedorMedium";
        }

        .carac-line-unlocked {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: max-content 1.5em 3.5em 1.5em;
            font-family: "BarbedorMedium";
        }

        .carac-line.corps {
            display: grid;
            justify-content: center;
            grid-template-columns: max-content 3.5em 2em max-content 3.5em 2em;
            font-family: "BarbedorMedium";
        }

        .carac-line-unlocked.corps {
            display: grid;
            justify-content: center;
            grid-template-columns: max-content 1.5em 3.5em 1.5em max-content 1.5em 3.5em 1.5em;
            font-family: "BarbedorMedium";
        }

        .val-carac {
            background-color: var(--color-stats-background);
            margin: 2px 5px;
            text-align: center;
            align-items: center;
            border-radius: 3px;
            height: 26px;

            label {
                position: relative;
                top: 5px;
            }

            .fa-circle-up, .fa-circle-down {
                font-size: 0.8em;
                color: var(--color-red-warning);
            }
        }

        .carac-crea, .aspect-crea {
            font-size: 0.8em;
        }

        .carac-crea.minus, .aspect-crea.minus {
            text-align: right;
        }

        .carac-crea.plus, .aspect-crea.plus {
            text-align: left;
        }
    }
}

.grid-caracSec-comp {
    display: grid;
    grid-template-columns: 1.25fr 3fr;
    height: 100%;

    .caracSec {
        background: linear-gradient(to right; #00000000; #00000021;);
        padding: 5px;

        .caracSec-titre {
            text-align: center;
            font: var(--font-lorgol-28px);
            margin-bottom: 5px;
        }

        .grid-caracSec {
            display: grid;
            grid-template-columns: 1fr 3.5em;
            align-items: center;

            font-family: "BarbedorMedium";

            .val-caracSec {
                background-color: var(--color-stats-background);
                margin: 2px;
                text-align: center;
                align-items: center;
                border-radius: 3px;
                height: 23px;

                label {
                    position: relative;
                    top: 4px;
                }
            }
        }
    }

    .competences {

        .comp-titre {
            display: flex;
            justify-content: center;
            margin-bottom: 5px;

            label {
                text-align: center;
                font: var(--font-lorgol-28px);
            }
            
            .pc-box {
                align-self: center;
                padding: 3px;
                margin: 0 5px;
                font-family: "BarbedorMedium";
                font-size: 0.9em;
                text-align: center;
    
                border: solid 1px var(--color-box-border);;
                background-color: var(--color-stats-background);;
                border-radius: 3px;
            }
        }

        .actor-fam-comp {
            display: grid;
            grid-template-columns: 1fr 1fr;            

            .col-max {
                grid-column-start: 1;
                grid-column-end: 3;
                display: flex;
                align-items: center;
                justify-content: center;

                .titre-fam {
                    font-size: 1.2em;
                    font-weight: bold;
                    text-align: center;
                    margin: 2px 5px;
                }
            }
            
            .actor-comp-grid {
                display: grid;
                padding: 3px;
                grid-template-columns: 2em 1fr 2.5em 2em;
                font-size: 0.9em;
                font-family: "BarbedorMedium";
        
                .titre-comp {
                    grid-column-start: span 4;
                    font-weight: bold;
                    height: 23px;
                    margin: 2px;
                }
        
                .lbl-comp {
                    align-self: center;
                }
        
                .dom-fixe {
                    text-indent: 1em;
                    align-self: center;
                }
        
                .dom-perso {
                    margin: 2px;
                    background-color: var(--color-stats-background);
                    border-radius: 3px;
        
                    label {
                        position: relative;
                        top: 5px;
                        left: 2px;
                    }
                }
        
                .val-comp {
                    background-color: var(--color-stats-background);
                    margin: 2px;
                    text-align: center;
                    border-radius: 3px;
                    height: 23px;
        
                    label {
                        position: relative;
                        top: 5px;
                    }
                }
        
                a {
                    text-align: center;
                    align-self: center;
                }
        
                a.spec {
                    font-size: 1.4em;
                }
            }

            .actor-comp-grid-unlocked {
                display: grid;
                padding: 3px;
                grid-template-columns: 1fr 1.5em 2em 1.5em 2.5em 1fr 1fr;
                font-size: 0.9em;
                font-family: "BarbedorMedium";
        
                .titre-comp {
                    grid-column-start: span 7;
                    font-weight: bold;
                    height: 26px;
                    margin: 2px;
                }
        
                .lbl-comp {
                    align-self: center;
                }
        
                .dom-fixe {
                    text-indent: 1em;
                    align-self: center;
                }
        
                .dom-perso {
                    margin: 2px;
                    background-color: var(--color-stats-background);
                    border-radius: 3px;
        
                    label {
                        position: relative;
                        top: 5px;
                        left: 2px;
                    }
                }
        
                .val-comp {
                    background-color: var(--color-stats-background);
                    margin: 2px;
                    text-align: center;
                    border-radius: 3px;
                    height: 26px;
        
                    label {
                        position: relative;
                        top: 5px;
                    }
                }
        
                .comp-crea {
                    font-size: 0.8em;
                }
        
                .comp-crea.minus {
                    text-align: right;
                }
        
                .comp-crea.plus {
                    text-align: left;
                }

                a {
                    text-align: center;
                    align-self: center;
                }
        
                a.case-chk-spe {
                    font-size: 1.3em;
                }
            }
        }
    }
}

.grid-data-att {
    display: grid;
    grid-template-columns: 1.25fr 3fr;
    height: 100%;

    font-family: "BarbedorMedium";

    .data-combat {
        background: linear-gradient(to right; #00000000; #00000021;);
        padding: 5px;

        .data-combat-titre {
            text-align: center;
            font: var(--font-lorgol-24px);
            margin-bottom: 2px;
        }

        .heroisme {
            .grid-heroisme {
                display: grid;
                grid-template-columns: 1fr 10px 3.5em 10px 3.5em;
                align-items: center;
                margin: 3px 1px;
                padding: 3px;
                border: solid 1px var(--color-box-border-dark);
                border-radius: 5px;

                .lib-all {
                    grid-column-start: 1;
                    grid-column-end: 6;
                    text-align: center;
                }

                .sep {
                    align-self: center;
                    text-align: center;
                }

                .val {
                    background-color: var(--color-stats-background);
                    margin: 2px 5px;
                    text-align: center;
                    align-items: center;
                    border-radius: 3px;
                    height: 26px;

                    label {
                        position: relative;
                        top: 5px;
                    }       
                }
            }
        }

        .sante {
            .grid-sante {
                display: grid;
                grid-template-columns: 1fr 3.5em 10px 3.5em 10px;
                align-items: center;
                margin: 3px 1px;
                padding: 3px;
                border: solid 1px var(--color-box-border-dark);
                border-radius: 5px;

                .lib {
                    grid-column-start: 1;
                    grid-column-end: 4;
                }

                .lib-blessGrave {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }

                .lib-all {
                    grid-column-start: 1;
                    grid-column-end: 6;
                    text-align: center;
                }

                .edit {
                    flex: 0 1 3.5em;
                    padding: 3px;
                    text-align: center;
                }

                .sep {
                    align-self: center;
                    text-align: center;

                    .blessGrave {
                        font-size: 0.8em;
                    }
    
                    .blessGrave.minus {
                        text-align: right;
                    }
    
                    .blessGrave {
                        text-align: left;
                    }
                }

                .val {
                    background-color: var(--color-stats-background);
                    margin: 2px 5px;
                    text-align: center;
                    align-items: center;
                    border-radius: 3px;
                    height: 26px;

                    label {
                        position: relative;
                        top: 5px;
                    }       
                }
            }
        }

        .actions-def, .init-basique {
            margin: 3px 1px;
            padding: 3px;
            border: solid 1px var(--color-box-border-dark);
            border-radius: 5px;

            button {
                margin: 1px 0;
                font-family: "BarbedorMedium";
                border-radius: 5px;
                border: 1px solid var(--color-box-border-dark);
            }
        }
    }

    .attaque {
        font-family: "BarbedorMedium";

        .titre-rub {
            font: var(--font-lorgol-28px);
            text-align: center;
        }
    }
}

.grid-magies {
    display: grid;
    grid-template-columns: 1.25fr 3fr;
    height: 100%;

    font-family: "BarbedorMedium";

    .data-magie {
        background: linear-gradient(to right; #00000000; #00000021;);
        padding: 5px;

        .data-magie-titre {
            text-align: center;
            font: var(--font-lorgol-24px);
            margin-bottom: 2px;
        }

        .actions-magie {
            margin: 3px 1px;
            padding: 3px;
            border: solid 1px var(--color-box-border-dark);
            border-radius: 5px;

            button {
                margin: 1px 0;
                font-family: "BarbedorMedium";
                border-radius: 5px;
                border: 1px solid var(--color-box-border-dark);
            }
        }

        .emprise {
            .grid-emprise {
                display: grid;
                grid-template-columns: 2fr 1fr 3.5em;
                align-items: center;
                margin: 3px 1px;
                padding: 3px;
                border: solid 1px var(--color-box-border-dark);
                border-radius: 5px;

                .lib {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }

                .lib-obd {
                    align-items: center;
                    height: 27px;

                    label {
                        position: relative;
                        top: 5px;
                    }
                }

                .val-obd {
                    grid-column-start: 2;
                    grid-column-end: 4;
                    text-align: center;
                }

                .lib-all {
                    grid-column-start: 1;
                    grid-column-end: 4;
                    text-align: center;
                }

                .val {
                    background-color: var(--color-stats-background);
                    margin: 2px 5px;
                    text-align: center;
                    align-items: center;
                    border-radius: 3px;
                    height: 26px;

                    label {
                        position: relative;
                        top: 5px;
                    }       
                }
            }
        }

        .arts-magiques {
            .grid-arts-magiques {
                display: grid;
                grid-template-columns: 1fr 3.5em;
                align-items: center;
                margin: 3px 1px;
                padding: 3px;
                border: solid 1px var(--color-box-border-dark);
                border-radius: 5px;

                .lib {
                    grid-column-start: 1;
                    grid-column-end: 2;
                }

                .lib-all {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    text-align: center;
                }

                .val {
                    background-color: var(--color-stats-background);
                    margin: 2px 5px;
                    text-align: center;
                    align-items: center;
                    border-radius: 3px;
                    height: 26px;

                    label {
                        position: relative;
                        top: 5px;
                    }       
                }
            }
        }

        .conjuration {
            .grid-conjuration-edit {
                display: grid;
                grid-template-columns: 1fr 1.1em 3.5em 1.1em;
                align-items: center;
                margin: 3px 1px;
                padding: 3px;
                border: solid 1px var(--color-box-border-dark);
                border-radius: 5px;

                .lib {
                    grid-column-start: 1;
                    grid-column-end: 2;
                }

                .lib-all {
                    grid-column-start: 1;
                    grid-column-end: 5;
                    text-align: center;
                }

                .val {
                    grid-column-start: 3;
                    grid-column-end: 4;

                    background-color: var(--color-stats-background);
                    margin: 2px 5px;
                    text-align: center;
                    align-items: center;
                    border-radius: 3px;
                    height: 26px;

                    label {
                        position: relative;
                        top: 5px;
                    }       
                }

                .tenebre-crea {
                    font-size: 0.8em;
                }

                .tenebre-crea.minus {
                    text-align: right;
                }

                .tenebre-crea.plus {
                    text-align: left;
                }
            }

            .grid-conjuration {
                display: grid;
                grid-template-columns: 1fr 3.5em;
                align-items: center;
                margin: 3px 1px;
                padding: 3px;
                border: solid 1px var(--color-box-border-dark);
                border-radius: 5px;

                .lib {
                    grid-column-start: 1;
                    grid-column-end: 2;
                }

                .lib-all {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    text-align: center;
                }

                .val {
                    background-color: var(--color-stats-background);
                    margin: 2px 5px;
                    text-align: center;
                    align-items: center;
                    border-radius: 3px;
                    height: 26px;

                    label {
                        position: relative;
                        top: 5px;
                    }       
                }
            }
        }
    }

    .magies {
        font-family: "BarbedorMedium";

        .titre-rub {
            font: var(--font-lorgol-28px);
            text-align: center;
        }
    }
}

.grid-data-equip {
    display: grid;
    grid-template-columns: 1.25fr 3fr;
    height: 100%;

    font-family: "BarbedorMedium";

    .data-equip {
        background: linear-gradient(to right; #00000000; #00000021;);
        padding: 5px;

        .data-charge-titre {
            text-align: center;
            font: var(--font-lorgol-24px);
            margin-bottom: 2px;
        }

        .charge {
            .grid-charge {
                display: grid;
                grid-template-columns: 1fr 3.5em;
                align-items: center;
                margin: 3px 1px;
                padding: 3px;
                border: solid 1px var(--color-box-border-dark);
                border-radius: 5px;

                .lib {
                    grid-column-start: 1;
                    grid-column-end: 2;
                }

                .lib-all {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    text-align: center;
                }

                .val {
                    background-color: var(--color-stats-background);
                    margin: 2px 5px;
                    text-align: center;
                    align-items: center;
                    border-radius: 3px;
                    height: 26px;

                    label {
                        position: relative;
                        top: 5px;
                    }       
                }
            }
        }
    }

    .equipement {
        font-family: "BarbedorMedium";

        .titre-rub {
            font: var(--font-lorgol-28px);
            text-align: center;
        }
    }
}

.grid-data-histo {
    display: grid;
    grid-template-columns: 1.25fr 3fr;
    height: 100%;

    font-family: "BarbedorMedium";

    .data-histo {
        background: linear-gradient(to right; #00000000; #00000021;);
        padding: 5px;

        .data-experience-titre, .data-peinesBienfaits-titre {
            text-align: center;
            font: var(--font-lorgol-24px);
            margin-bottom: 2px;
        }

        .experience, .peinesBienfaits {

            .grid-experience, .grid-peinesBienfaits {
                display: grid;
                grid-template-columns: 1fr 3.5em;
                align-items: center;
                margin: 3px 1px;
                padding: 3px;
                border: solid 1px var(--color-box-border-dark);
                border-radius: 5px;

                .lib {
                    grid-column-start: 1;
                    grid-column-end: 2;
                }

                .lib-all {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    text-align: center;
                }

                .val {
                    background-color: var(--color-stats-background);
                    margin: 2px 5px;
                    text-align: center;
                    align-items: center;
                    border-radius: 3px;
                    height: 26px;

                    label {
                        position: relative;
                        top: 5px;
                    }       
                }
            }

            .grid-peinesBienfaits-edit {
                display: grid;
                grid-template-columns: 1fr 1.1em 3.5em 1.1em;
                align-items: center;
                margin: 3px 1px;
                padding: 3px;
                border: solid 1px var(--color-box-border-dark);
                border-radius: 5px;

                .lib {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }

                .lib-all {
                    grid-column-start: 1;
                    grid-column-end: 5;
                    text-align: center;
                }

                .val {
                    background-color: var(--color-stats-background);
                    margin: 2px 5px;
                    text-align: center;
                    align-items: center;
                    border-radius: 3px;
                    height: 26px;

                    label {
                        position: relative;
                        top: 5px;
                    }       
                }

                .tenebre-crea, .perfidie-crea {
                    font-size: 0.8em;
                }

                .tenebre-crea.minus, .perfidie-crea.minus {
                    text-align: right;
                }

                .tenebre-crea.plus, .perfidie-crea.plus {
                    text-align: left;
                }
            }
        }
    }

    .historique {

        .titre-rub {
            font: var(--font-lorgol-28px);
            text-align: center;
        }
    }
}

/*.recap {
    display: flex;
    flex-direction: row;
    padding: 3px; 
    justify-content: center;
    margin-bottom: 0.5rem;

    .recap-item {
        align-items: center;

        display: flex;
        flex: 1;
        justify-content: center;

        label {
            margin: 3px;
        }

        div {
            margin: 3px;
        } 
    }

    button {
        flex: 0 0 135px;
    }
}*/

.grid-armes, .grid-armures, .grid-danseurs, .grid-sorts , .grid-oeuvres {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .bloc-arme, .bloc-armure, .bloc-danseur, .bloc-sort, .bloc-oeuvre {
        border: solid 1px var(--color-box-border-dark);
        border-radius: 5px;
        margin: 2px;
        padding: 2px;

        .icone {
            font-size: 1.3em;
            margin-left: 2px;
        }

        .ligne-titre {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            background-color: var(--color-stats-background);

            img {
                flex: 0 0 24px;
                border: none;
                height: 24px;
            }

            .titre {
                flex: 2;
                font-family: "BarbedorMedium";
                font-size: 1.3em;
                margin-left: 2px;
            }
        }

        .ligne-stats-arme {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            text-align: center;
            align-items: center;
            margin-bottom: 3px;

            .full-row {
                grid-row-start: 1;
                grid-row-end: 3;
            }
        }

        .ligne-equipee-arme {
            display: grid;
            grid-template-columns: 1fr 2fr;
            text-align: center;
            align-items: center;
            margin-bottom: 3px;

            .equip-row {
                grid-row-start: 1;
                grid-row-end: 5;
            }
        }

        .ligne-comp {
            display: grid;
            grid-template-columns: 1fr 2fr;
            align-items: center;
            margin-bottom: 3px;
        }

        .ligne-stats-armure {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            text-align: center;
            align-items: center;
            margin-bottom: 3px;

            .full-row {
                grid-row-start: 1;
                grid-row-end: 3;
            }
        }

        .ligne-stats-danseur {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            text-align: center;
            align-items: center;
            margin-bottom: 3px;

            .full-row {
                grid-row-start: 1;
                grid-row-end: 3;
            }
        }

        .ligne-sorts-connus {
            display: flex;
            align-items: center;
            border-top: solid 1px var(--color-box-border-dark);

            .titre {
                flex: 2;
                margin: 3px;
                font-weight: bold;
            }

            .info {
                margin: 3px;
            }
        }

        .ligne-sort {
            display: flex;
            align-items: center;
        }

        .ligne-stats-sort {
            display: grid;
            grid-template-columns: 1fr 2fr;
            text-align: center;
            align-items: center;
            margin-bottom: 3px;

            .full-row {
                grid-row-start: 1;
                grid-row-end: 4;
            }
        }

        .ligne-stats-oeuvre {
            display: grid;
            grid-template-columns: 1fr 2fr;
            text-align: center;
            align-items: center;
            margin-bottom: 3px;

            .full-row {
                grid-row-start: 1;
                grid-row-end: 4;
            }
        }
    }
}

.grid-connivences , .grid-equip-combat, .grid-avantages, .grid-defauts, .grid-pouvoirsFlamme, .grid-pouvoirsSaison, .grid-peines, .grid-bienfaits {
    display: grid;
    grid-template-columns: 1fr;

    .bloc-connivence, .bloc-avantage, .bloc-defaut, .bloc-pouvoirFlamme, .bloc-pouvoirSaison, .bloc-peine, .bloc-bienfait {
        border: solid 1px var(--color-box-border-dark);
        border-radius: 5px;
        margin: 2px;
        padding: 2px;

        .icone {
            font-size: 1.3em;
            margin-left: 2px;
        }

        .mr {
            margin-right: 3px;
        }

        .ligne-titre {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            background-color: var(--color-stats-background);

            img {
                flex: 0 0 24px;
                border: none;
                height: 24px;
            }

            .titre {
                flex: 2;
                font-family: "BarbedorMedium";
                font-size: 1.3em;
                margin-left: 2px;
            }
        }

        .ligne-stats-connivence, .ligne-stats-avantage, .ligne-stats-defaut, .ligne-stats-pouvoirFlamme, .ligne-stats-peine, .ligne-stats-bienfait {
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: center;
            align-items: center;
            margin-bottom: 3px;

            .desc-col {
                grid-column-start: 1;
                grid-column-end: 3;

                padding: 3px;
                background-color: var(--color-stats-background);
                text-align: left;
            }

            .desc-col.no-bg {
                background-color: transparent;
            }
        }

        .ligne-stats-pouvoirSaison {
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
            align-items: center;
            margin-bottom: 3px;

            .desc-col {
                grid-column-start: 1;
                grid-column-end: 3;

                padding: 3px;
                background-color: var(--color-stats-background);
                text-align: left;
            }
        }
    }

    .bloc-equip, .bloc-equip-charge, .bloc-equip-unlocked, .bloc-equip-charge-unlocked {
        align-items: center;
        margin: 2px;

        .icone {
            font-size: 1.2em;
            text-align: center;
        }

        img {
           flex: 0 0 24px;
            border: none;
            height: 24px;
        }

        .nom {
            font-family: "BarbedorMedium";
            font-size: 1.1em;
            margin-left: 2px;
        }
    }

    .bloc-equip {
        display: grid;
        grid-template-columns: 24px 1fr 70px;
    }

    .bloc-equip-charge {
        display: grid;
        grid-template-columns: 24px 1fr 70px 70px 20px;
    }

    .bloc-equip-unlocked {
        display: grid;
        grid-template-columns: 24px 1fr 70px 20px 20px;
    }

    .bloc-equip-charge-unlocked {
        display: grid;
        grid-template-columns: 24px 1fr 70px 70px 20px 20px;
    }
}

.liste-armes, .liste-armures, .liste-danseurs, .liste-sorts, .liste-oeuvres, .liste-connivences, .liste-avantages, .liste-defauts, .liste-manoeuvres, 
.liste-pouvoirs-flamme, .liste-pouvoirs-saisonnin, .liste-peines, .liste-bienfaits {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.ligne-arme {
    display: grid;
    grid-template-columns: 2.5em 2fr 2fr 1.5fr repeat(5, 1fr) 2fr 2fr repeat(3, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-armure {
    display: grid;
    grid-template-columns: 2.5em 1fr 2fr repeat(4, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }

    .inline-chk {
        text-align: center;
    }

}

.ligne-danseur {
    display: grid;
    grid-template-columns: 2.5em 2fr repeat(7, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-sort {
    display: grid;
    grid-template-columns: 2.5em 2fr 2fr repeat(4, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }
 
    img {
        border: none;
    }
}

.ligne-oeuvre {
    display: grid;
    grid-template-columns: 2.5em 2fr 2fr 2fr 2fr repeat(4, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-connivence {
    display: grid;
    grid-template-columns: 2.5em repeat(4, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-manoeuvre {
    display: grid;
    grid-template-columns: 2.5em 2fr repeat(4, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-botteSecrete {
    display: grid;
    grid-template-columns: 2.5em 2fr 2fr 1fr 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-avantage, .ligne-defaut, .ligne-peine {
    display: grid;
    grid-template-columns: 2.5em 1fr 1fr 0.5fr 3fr 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-pouvoir-flamme, .ligne-pouvoir-saisonnin {
    display: grid;
    grid-template-columns: 2.5em 1.5fr 0.5fr 3fr 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-bienfait {
    display: grid;
    grid-template-columns: 2.5em 1fr 3fr 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-arme.titre, .ligne-armure.titre, .ligne-danseur.titre, .ligne-sort.titre, .ligne-oeuvre.titre, .ligne-connivence.titre, .ligne-avantage.titre, .ligne-defaut.titre, 
.ligne-manoeuvre.titre, .ligne-botteSecrete.titre, .ligne-pouvoir-flamme.titre, .ligne-pouvoir-saisonnin.titre, .ligne-peine.titre, .ligne-bienfait.titre {
    font-weight: bold;
    text-align: center;
    background-color: var(--color-stats-background);
    border-top: solid thin var(--color-box-border-dark);
    padding: 3px;
}