.small-size {
    flex: 0 1 3.5em;
    padding: 3px;
    text-align: center;
}

.auto-size {
    flex: 1 1 auto;
    padding: 3px;
}

select.auto-size {
    margin: 3px;
}

.fixed-val {
    background-color: rgba(82, 77, 77, 0.075);
    margin: 2px;
    text-align: center;
    flex: 0 1 3em;
}

.warn {
    color: #aa0200;
}

.agone.sheet.actor form {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sheet-body {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.agone.sheet.actor nav.sheet-tabs, .agone.sheet.actor nav.tabs  {
    font-family: "BarbedorMedium";
    align-items: center;

    .active {
        font-weight: bold;
        font-size: 1.2em;
    }
    margin-bottom: 10px;
}

nav.magie-tabs, nav.historique-tabs {
    height: 26px;
    line-height: 26px;
    border-bottom: 1px solid #b5b3a4;
}

.agone.sheet.actor .sheet-header, .sheet-fixed-content {
    img {
        flex: 0 0 150px;
        border: none;
        height: 150px;
    }
}

/*.agone.sheet.actor {
    .fas, .fa-solid {
        padding-top : 6px;
        padding-bottom : 6px;
    }
}*/

a.nohlight {
    text-shadow: none;
    cursor: default;
}

/*.agone.sheet.actor .fas:hover, .fas:focus {        
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
}*/

.agone.sheet.actor .fullheight {
    height: 100%;

    .editor {
        height: 170px;
        background-color: rgba(82, 77, 77, 0.075);
    }
}

.actor-infos {
    
    .info-val {
        margin: 4px 7px 0 3px;
        font-family: "BarbedorMedium";
        font-size: 1.3em;
    }

    label {
        margin: 0 3px;
        font-family: "Lorgol";
        font-size: 1.5em;
    }

    input[type=number] , input[type=text], select {
        font-family: "BarbedorMedium";
    }

    .actor-name-line {
        display: grid;
        grid-template-columns: 1fr 25px;
        align-items: center;
        justify-content: center;

        .nom-perso  {
            font-family: "Lorgol";
            font-size: 3em;
            margin-left: 10px;
    
            input[type=text] {
                height: auto;
                font-family: "Lorgol";
            }
        }

        .padlock {
            font-size: 1.2em;
            margin-left: 5px;
        }
    }

    .actor-infos-line-1 {
        display: grid;
        grid-template-columns: 1.1fr 3fr 0.8fr 3fr;
        align-items: center;
        height: 32px;
    }

    .actor-infos-line-2 {
        display: grid;
        grid-template-columns: 0.7fr 2.5fr 1fr 3.5fr 0.7fr 1.5fr;
        align-items: center;
        height: 32px;

        .peuple {
            display: flex;
            align-items: center;

            select {
                flex: 2;
            }

            i {
                margin: 0 8px 0 2px;
            }
        }
    }

    .actor-infos-line-3 {
        display: grid;
        grid-template-columns: 1.8fr 1fr 0.8fr 1.2fr 0.7fr 0.7fr 0.8fr 1.1fr 1fr 0.7fr;
        align-items: center;
        height: 32px;

        .jet-vieil-item {
            display: flex;
            align-items: center;
        }
    }
}

.actor-flamme {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;

    .box-flamme {
        display: flex;
        justify-content: center;

        label, .info-val {
            margin: 0 5px;
            font-family: "Lorgol";
            font-size: 2.5em;
        }

        .slash {
            margin-top: 17px;
        }

        .pc-box {
            align-self: center;
            padding: 3px;
            margin: 0 5px;
            font-family: "BarbedorMedium";
            font-size: 0.9em;
            text-align: center;

            border: solid 1px #B8B8B8;
            background-color: rgba(82, 77, 77, 0.075);;
            border-radius: 3px;
        }
    }
}

.actor-flamme.pc {
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr;
}

.aspects-and-caracs {
    display: flex;
    padding: 3px;

    .bd-left {
        border-left: solid 2px #B8B8B8;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .bd-right {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .aspect {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        border-top: solid 2px #B8B8B8;
        border-right: solid 2px #B8B8B8;
        border-bottom: solid 2px #B8B8B8;
        
        .aspect-titre {
            text-align: center;
            font-family: "Lorgol";
            font-size: 2.5em;

            background-color: rgba(82, 77, 77, 0.075);
            border-bottom: solid 2px #B8B8B8;
            border-bottom-left-radius: 50% 30%;
            border-bottom-right-radius: 50% 30%;
        
            margin-bottom: 5px;
        }

        .aspect-line {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: max-content 3.5em max-content 3.5em;
            font-family: "BarbedorMedium";
            font-weight: bold;
        }

        .aspect-line-unlocked {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: max-content 1.5em 3.5em 1.5em;
            font-family: "BarbedorMedium";
            font-weight: bold;
        }

        .bonus-line {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: max-content 3.5em;
            font-family: "BarbedorMedium";
            font-weight: bold;
        }

        .carac-line {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: max-content 3.5em 2em;
            font-family: "BarbedorMedium";
        }

        .carac-line-unlocked {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: max-content 1.5em 3.5em 1.5em;
            font-family: "BarbedorMedium";
        }

        .carac-line.corps {
            display: grid;
            justify-content: center;
            grid-template-columns: max-content 3.5em 2em max-content 3.5em 2em;
            font-family: "BarbedorMedium";
        }

        .carac-line-unlocked.corps {
            display: grid;
            justify-content: center;
            grid-template-columns: max-content 1.5em 3.5em 1.5em max-content 1.5em 3.5em 1.5em;
            font-family: "BarbedorMedium";
        }

        .val-carac {
            background-color: rgba(82, 77, 77, 0.075);
            margin: 2px 5px;
            text-align: center;
            align-items: center;
            border-radius: 3px;
            height: 26px;

            label {
                position: relative;
                top: 5px;
            }

            .fa-circle-up, .fa-circle-down {
                font-size: 0.8em;
                color: #aa0200;
            }
        }

        .carac-crea, .aspect-crea {
            font-size: 0.8em;
        }

        .carac-crea.minus, .aspect-crea.minus {
            text-align: right;
        }

        .carac-crea.plus, .aspect-crea.plus {
            text-align: left;
        }
    }
}

.grid-caracSec-comp {
    display: grid;
    grid-template-columns: 1.25fr 3fr;

    .caracSec {
        background: linear-gradient(to right; #00000000; #00000021;);
        padding: 5px;

        .caracSec-titre {
            text-align: center;
            font-family: "Lorgol";
            font-size: 2em;
            margin-bottom: 5px;
        }

        .grid-caracSec {
            display: grid;
            grid-template-columns: 1fr 3.5em;
            align-items: center;

            font-family: "BarbedorMedium";

            .val-caracSec {
                background-color: rgba(82, 77, 77, 0.075);
                margin: 2px;
                text-align: center;
                align-items: center;
                border-radius: 3px;
                height: 23px;

                label {
                    position: relative;
                    top: 4px;
                }
            }
        }
    }

    .competences {

        .comp-titre {
            display: flex;
            justify-content: center;
            margin-bottom: 5px;

            label {
                text-align: center;
                font-family: "Lorgol";
                font-size: 2em;
            }
            
            .pc-box {
                align-self: center;
                padding: 3px;
                margin: 0 5px;
                font-family: "BarbedorMedium";
                font-size: 0.9em;
                text-align: center;
    
                border: solid 1px #B8B8B8;
                background-color: rgba(82, 77, 77, 0.075);;
                border-radius: 3px;
            }
        }

        .actor-fam-comp {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .col-1 {
                grid-column: 1 / 2;
            }

            .col-2 {
                grid-column: 2 / 3;
            }

            .col-max {
                grid-column-start: 1;
                grid-column-end: 3;
                display: flex;
                align-items: center;
                justify-content: center;

                .titre-fam {
                    font-size: 1.2em;
                    font-weight: bold;
                    text-align: center;
                    margin: 2px 5px;
                }
            }
            
            .actor-comp-grid {
                display: grid;
                padding: 3px;
                grid-template-columns: 2em 1fr 2.5em 2em;
                font-size: 0.9em;
                font-family: "BarbedorMedium";
        
                .titre-comp {
                    grid-column-start: span 4;
                    font-weight: bold;
                    height: 23px;
                    margin: 2px;
                }
        
                .lbl-comp {
                    align-self: center;
                }
        
                .dom-fixe {
                    text-indent: 1em;
                    align-self: center;
                }
        
                .dom-perso {
                    margin: 2px;
                    background-color: rgba(82, 77, 77, 0.075);
                    border-radius: 3px;
        
                    label {
                        position: relative;
                        top: 5px;
                        left: 2px;
                    }
                }
        
                .val-comp {
                    background-color: rgba(82, 77, 77, 0.075);
                    margin: 2px;
                    text-align: center;
                    border-radius: 3px;
                    height: 23px;
        
                    label {
                        position: relative;
                        top: 5px;
                    }
                }
        
                a {
                    text-align: center;
                    align-self: center;
                }
        
                a.spec {
                    font-size: 1.4em;
                }
            }

            .actor-comp-grid-unlocked {
                display: grid;
                padding: 3px;
                grid-template-columns: 1fr 1.5em 2em 1.5em 2.5em 1fr 1fr;
                font-size: 0.9em;
                font-family: "BarbedorMedium";
        
                .titre-comp {
                    grid-column-start: span 7;
                    font-weight: bold;
                    height: 26px;
                    margin: 2px;
                }
        
                .lbl-comp {
                    align-self: center;
                }
        
                .dom-fixe {
                    text-indent: 1em;
                    align-self: center;
                }
        
                .dom-perso {
                    margin: 2px;
                    background-color: rgba(82, 77, 77, 0.075);
                    border-radius: 3px;
        
                    label {
                        position: relative;
                        top: 5px;
                        left: 2px;
                    }
                }
        
                .val-comp {
                    background-color: rgba(82, 77, 77, 0.075);
                    margin: 2px;
                    text-align: center;
                    border-radius: 3px;
                    height: 26px;
        
                    label {
                        position: relative;
                        top: 5px;
                    }
                }
        
                .comp-crea {
                    font-size: 0.8em;
                }
        
                .comp-crea.minus {
                    text-align: right;
                }
        
                .comp-crea.plus {
                    text-align: left;
                }

                a {
                    text-align: center;
                    align-self: center;
                }
        
                a.case-chk-spe {
                    font-size: 1.3em;
                }
            }
        }
    }
}

.recap {
    display: flex;
    flex-direction: row;
    padding: 3px; 
    justify-content: center;
    margin-bottom: 0.5rem;

    .recap-item {
        align-items: center;

        display: flex;
        flex: 1;
        justify-content: center;

        label {
            margin: 3px;
        }

        div {
            margin: 3px;
        } 
    }

    button {
        flex: 0 0 135px;
    }
}


.liste-armes, .liste-armures, .liste-danseurs, .liste-sorts, .liste-oeuvres, .liste-connivences, .liste-avantages, .liste-defauts, .liste-manoeuvres, 
.liste-pouvoirs-flamme, .liste-pouvoirs-saisonnin, .liste-peines, .liste-bienfaits {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.ligne-arme {
    display: grid;
    grid-template-columns: 2.5em 2fr 2fr 1.5fr repeat(5, 1fr) 2fr 2fr repeat(3, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-armure {
    display: grid;
    grid-template-columns: 2.5em 1fr 2fr repeat(4, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }

    .inline-chk {
        text-align: center;
    }

}

.ligne-danseur {
    display: grid;
    grid-template-columns: 2.5em 2fr repeat(7, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-sort {
    display: grid;
    grid-template-columns: 2.5em 2fr 2fr repeat(4, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }
 
    img {
        border: none;
    }
}

.ligne-oeuvre {
    display: grid;
    grid-template-columns: 2.5em 2fr 2fr 2fr 2fr repeat(4, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-connivence {
    display: grid;
    grid-template-columns: 2.5em repeat(4, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-manoeuvre {
    display: grid;
    grid-template-columns: 2.5em 2fr repeat(4, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-botteSecrete {
    display: grid;
    grid-template-columns: 2.5em 2fr 2fr 1fr 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-avantage, .ligne-defaut, .ligne-peine {
    display: grid;
    grid-template-columns: 2.5em 1fr 1fr 0.5fr 3fr 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-pouvoir-flamme, .ligne-pouvoir-saisonnin {
    display: grid;
    grid-template-columns: 2.5em 1.5fr 0.5fr 3fr 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-bienfait {
    display: grid;
    grid-template-columns: 2.5em 1fr 3fr 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-arme.titre, .ligne-armure.titre, .ligne-danseur.titre, .ligne-sort.titre, .ligne-oeuvre.titre, .ligne-connivence.titre, .ligne-avantage.titre, .ligne-defaut.titre, 
.ligne-manoeuvre.titre, .ligne-botteSecrete.titre, .ligne-pouvoir-flamme.titre, .ligne-pouvoir-saisonnin.titre, .ligne-peine.titre, .ligne-bienfait.titre {
    font-weight: bold;
    text-align: center;
    background-color: rgba(82, 77, 77, 0.075);
    border-top: solid thin rgb(119, 119, 119);
    padding: 3px;
}