.small-size {
    flex: 0 1 3.5em;
    padding: 3px;
    text-align: center;
}

.auto-size {
    flex: 1 1 auto;
    padding: 3px;
}

select.auto-size {
    margin: 3px;
}

.fixed-val {
    background-color: rgba(82, 77, 77, 0.075);
    margin: 2px;
    text-align: center;
}

.warn {
    color: #aa0200;
}

.agone.sheet.actor form {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.agone.sheet.actor .sheet-header, .sheet-fixed-content {
    img {
        flex: 0 0 150px;
        border: none;
        height: 150px;
    }
}

.agone.sheet.actor {
    .fas, .fa-solid {
        padding-top : 6px;
        padding-bottom : 6px;
    }
}

a.nohlight {
    text-shadow: none;
    cursor: default;
}

/*.agone.sheet.actor .fas:hover, .fas:focus {        
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
}*/

.agone.sheet.actor .fullheight {
    height: 100%;

    .editor {
        height: 170px;
        background-color: rgba(82, 77, 77, 0.075);
    }
}

nav.magie-tabs, nav.historique-tabs {
    height: 26px;
    line-height: 26px;
    border-bottom: 1px solid #b5b3a4;
}

.actor-infos {
    
    .actor-name-line {
        display: flex;
        align-items: center;
        justify-content: center;

        .padlock {
            font-size: 1.2em;
            margin-left: 5px;
        }
    }

    .nom-perso  {
        font-family: "Lorgol";
        font-size: 3em;
        flex: 2;

        input[type=text] {
            height: auto;
        }
    }

    .actor-infos-line {
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        .info-val {
            margin: 4px 7px 0 3px;
            font-family: "BarbedorMedium";
            font-size: 1.3em;
        }

        label {
            margin: 0 3px;
            font-family: "Lorgol";
            font-size: 1.5em;
        }

        input[type=number] , input[type=text], select {
            font-family: "BarbedorMedium";
        }
    }
}

.actor-flamme {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;

    .box-flamme {
        display: flex;
        justify-content: center;

        label, .info-val {
            margin: 0 5px;
            font-family: "Lorgol";
            font-size: 2.5em;
        }

        .slash {
            margin-top: 17px;
        }
    }
}

.aspects-and-caracs {
    display: flex;
    padding: 3px;

    .bd-left {
        border-left: solid 2px #B8B8B8;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .bd-right {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .aspect {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        border-top: solid 2px #B8B8B8;
        border-right: solid 2px #B8B8B8;
        border-bottom: solid 2px #B8B8B8;
        
        .aspect-titre {
            text-align: center;
            font-family: "Lorgol";
            font-size: 2.5em;

            background-color: rgba(82, 77, 77, 0.075);;
            border-bottom: solid 2px #B8B8B8;
            border-bottom-left-radius: 50% 30%;
            border-bottom-right-radius: 50% 30%;
        
            margin-bottom: 5px;
        }

        .aspect-line {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: max-content 3.5em max-content 3.5em;
            font-family: "BarbedorMedium";
            font-weight: bold;
        }

        .bonus-line {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: max-content 3.5em;
            font-family: "BarbedorMedium";
            font-weight: bold;
        }

        .carac-line {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: max-content 3.5em 2em;
            font-family: "BarbedorMedium";
        }

        .carac-line.corps {
            display: grid;
            justify-content: center;
            grid-template-columns: max-content 3.5em 2em max-content 3.5em 2em;
            font-family: "BarbedorMedium";
        }
    }
}

.actor-caracSec {
    display: flex;
    padding: 3px;

    .actor-caracSec-block {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        margin: 2px;
        padding: 3px;
        border: solid 1px;
        border-radius: 15px;

        h3 {
            text-align: center;
        }

        .actor-caracSec-grid {
            display: grid;
            justify-content: center;
            grid-template-columns: max-content 3.5em;

            label {
                padding: 7px 0;
            }
        }
    }
}

.sheet-body {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sheet-tabs {
    font-family: "BarbedorMedium";
}

.tab h3 {
    text-align: center;
}

.actor-fam-comp {
    display: flex;
    
    .actor-comp-grid {
        display: grid;
        padding: 3px;
        align-content: start;
        grid-template-columns: 2em 1fr 2.5em 2em;
        font-size: 0.9em;

        .titre-fam {
            grid-column-start: span 3;
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
        }

        .titre-comp {
            grid-column-start: span 4;
            font-weight: bold;
        }

        .lbl-comp {
            position: relative;
            top: 7px;
        }

        .dom-fixe {
            text-indent: 1em;
            position: relative;
            top: 7px;
        }

        .dom-perso {
            margin: 2px;
            background-color: rgba(82, 77, 77, 0.075);

            label {
                position: relative;
                top: 5px;
                left: 2px;
            }
        }

        .val-comp {
            background-color: rgba(82, 77, 77, 0.075);
            margin: 2px;
            text-align: center;

            label {
                position: relative;
                top: 5px;
            }
        }

        a {
            text-align: center;
            font-size: 1.2em;
        }

        a.spec {
            font-size: 1.4em;
        }
    }
}

.recap {
    display: flex;
    flex-direction: row;
    padding: 3px; 
    justify-content: center;
    margin-bottom: 0.5rem;

    div {
        display: flex;
        flex: 1;
        justify-content: center;

        label {
            margin: 3px;
        }

        label.mod {
            margin-top: 10px;
        }

        div {
            margin: 3px;
            flex: 0 1 3em;
        }    
    }

    button {
        flex: 0 0 135px;
    }
}


.liste-armes, .liste-armures, .liste-danseurs, .liste-sorts, .liste-oeuvres, .liste-connivences, .liste-avantages, .liste-defauts, .liste-manoeuvres, 
.liste-pouvoirs-flamme, .liste-pouvoirs-saisonnin, .liste-peines, .liste-bienfaits {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.ligne-arme {
    display: grid;
    grid-template-columns: 2.5em 2fr 2fr 1.5fr repeat(5, 1fr) 2fr 2fr repeat(3, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-armure {
    display: grid;
    grid-template-columns: 2.5em 1fr 2fr repeat(4, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }

    .inline-chk {
        text-align: center;
    }

}

.ligne-danseur {
    display: grid;
    grid-template-columns: 2.5em 2fr repeat(7, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-sort {
    display: grid;
    grid-template-columns: 2.5em 2fr 2fr repeat(4, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }
 
    img {
        border: none;
    }
}

.ligne-oeuvre {
    display: grid;
    grid-template-columns: 2.5em 2fr 2fr 2fr 2fr repeat(4, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-connivence {
    display: grid;
    grid-template-columns: 2.5em repeat(4, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-manoeuvre {
    display: grid;
    grid-template-columns: 2.5em 2fr repeat(4, 1fr) 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-botteSecrete {
    display: grid;
    grid-template-columns: 2.5em 2fr 2fr 1fr 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-avantage, .ligne-defaut, .ligne-peine {
    display: grid;
    grid-template-columns: 2.5em 1fr 1fr 0.5fr 3fr 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-pouvoir-flamme, .ligne-pouvoir-saisonnin {
    display: grid;
    grid-template-columns: 2.5em 1.5fr 0.5fr 3fr 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-bienfait {
    display: grid;
    grid-template-columns: 2.5em 1fr 3fr 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-arme.titre, .ligne-armure.titre, .ligne-danseur.titre, .ligne-sort.titre, .ligne-oeuvre.titre, .ligne-connivence.titre, .ligne-avantage.titre, .ligne-defaut.titre, 
.ligne-manoeuvre.titre, .ligne-botteSecrete.titre, .ligne-pouvoir-flamme.titre, .ligne-pouvoir-saisonnin.titre, .ligne-peine.titre, .ligne-bienfait.titre {
    font-weight: bold;
    text-align: center;
    background-color: rgba(82, 77, 77, 0.075);
    border-top: solid thin rgb(119, 119, 119);
    padding: 3px;
}