.txt-small {
    font-size: smaller;
}

.bold {
    font-weight: bold;
}


.chat-message {

    .message-header {
        
        .message-sender {
            font-family: "Lorgol";
            font-size: 1.8em;
            margin-left: 5px;
        }
        .message-timestamp {
            font-family: "BarbedorMedium";
        }
    }

    details {
        margin-bottom: 0.25rem;
    }

    .jet-carac, .jet-comp, .suggest-crit, .jet-contre-magie, .jet-desaccord, .jet-oeuvre, .jet-arme, .jet-sort, .jet-pdv {
        font-family: "BarbedorMedium";
    }

    .roll-desc {
        font-size: 1.1em;
        margin: 5px 1px;
    }

    .roll-titre {
        font-size: 1.1em;
        margin-top: 5px;
    }
    
    .roll-details {
        font-size: 0.8em;
        font-weight: bold;
    }
    
    .fumble {
        font-size: 1.3em;
        color: #aa0200;
        text-align: center;
        margin: 5px 1px;
    }
    
    .roll-total {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
    }
    
    .roll-result, .titre-suggest {
        font-size: 1.3em;
        text-align: center;
        margin: 5px 1px;
    }
    
    .nom-suggest {
        font-weight: bold;
    }
    
    .dices-pool {
        display: flex;
        justify-content: center;
    }
    
    .dice-back {
        display: flex;
        justify-content: center;
        margin: 3px;
    
        .roll {
            width: 30px;
            line-height: 30px;
            font-size: var(--font-size-16);
            font-weight: bold;
            text-align: center;
            margin: 3px;
        }
    
        .d10 {
            background: url("../images/dice/d10-grey.svg") no-repeat;
            color: black;
            background-size: 30px 30px;
        }
    
        .max {
            color: #18520b;
            filter: sepia(0.5) hue-rotate(60deg);
        }
    
        .min {
            color: #aa0200;
            filter: sepia(0.5) hue-rotate(-60deg);
        }
    }

    .carte {
        display: flex;
        flex-direction: column;
        font-family: "BarbedorMedium";

        .titre {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 5px 0;

            img {
                display: block;
                border: none;
                width : 40px;
                height : 40px;
                margin-left: auto;
                margin-right: auto;
            }

            .titre-nom {
                flex: 2;
                font-family: "Lorgol";
                font-size: 2em;
                margin-left: 10px;
            }
        }

        .entete {
            font-weight: bold;
        }

        .carte-titre-desc {
            font-weight: bold;
            text-align: center;
            font-size: 1.3em;
        }

        .carte-desc {
            font-family: "BarbedorItalic";
            margin: 5px;
            padding: 3px;
            background-color: rgba(172, 172, 172, 0.35);
        }

        .boutons-carte {
            display: inline-flex;
            flex-wrap: wrap;
            margin: 3px;
        
            .ligne-btn-sort {
                width: 100%;
                display: grid;
                grid-template-columns: 2em 1fr;
                text-align: center;
                align-items: center;
                margin: 1px;
            }
        
            .ligne-btn-1 {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;
                text-align: center;
                margin: 1px;
            }

            .ligne-btn-2 {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                text-align: center;
                margin: 1px;
            }
        
            .ligne-btn-3 {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                text-align: center;
                margin: 1px;
            }
        
            a {
                padding-top: 6px;
                padding-bottom: 6px;
            }
        
            button {
                margin: 1px;
                width: 90%;
                justify-self: center;
                font-family: "BarbedorMedium";
            }
        }
    } 
}

.carte {

    .grid-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 3px;
        text-align: center;
    }

    .grid-2-chk {
        display: grid;
        grid-template-columns: 9fr 1fr;
        padding: 3px;
        align-items: center;
        text-align: center;
    }

    .grid-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 3px;
        text-align: center;
    }

    .grid-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 3px;
        text-align: center;
    }
}



.titre {
    margin-bottom: 0.25rem;
}


.edit-comp-grid {
    display: grid;
    padding: 3px;
    align-content: start;
    grid-template-columns: 1fr 2.5em 2em 1fr 1fr;

    .ed-grid-titre {
        font-weight: bold;
        text-align: center;
        background-color: rgba(82, 77, 77, 0.075);
        padding: 3px;
        margin-bottom: 0.5rem;
    }

    .titre-comp {
        grid-column-start: span 5;
        font-weight: bold;
        margin: 2px;
    }

    .lbl-comp {
        position: relative;
        top: 7px;
        margin: 2px;
    }

    .dom-fixe {
        text-indent: 1em;
        position: relative;
        top: 7px;
        margin: 2px;
    }

    .dom-perso {
        margin: 2px;
    }

    .val-comp {
        text-align: center;
        margin: 2px;
    }
}