.txt-small {
    font-size: smaller;
}

.bold {
    font-weight: bold;
}

.fumble {
    color: #aa0200;
    text-align: center;
    line-height: 24px;
}

.resultat {
    text-align: center;
}

.edit-comp-grid {
    display: grid;
    padding: 3px;
    align-content: start;
    grid-template-columns: 1fr 2.5em 2em 1fr 1fr;

    .titre-comp {
        grid-column-start: span 5;
        font-weight: bold;
    }
}