.txt-small {
    font-size: smaller;
}

.bold {
    font-weight: bold;
}

.jet-carac, .jet-comp, .suggest-crit, .jet-contre-magie, .jet-desaccord, .jet-oeuvre {
    font-family: "Barbedor";
}

.chat-message {

    .message-header {
        
        .message-sender {
            font-family: "Lorgol";
            font-size: 1.8em;
            margin-left: 5px;
        }
        .message-timestamp {
            font-family: "Barbedor";
        }
    }

    .roll-desc {
        font-size: 1.1em;
        margin-bottom: 3px;
    }

    .roll-titre {
        font-size: 1.1em;
    }
    
    .roll-details {
        font-size: 0.8em;
        font-weight: bold;
    }
    
    .fumble {
        font-size: 1.3em;
        color: #aa0200;
        text-align: center;
    }
    
    .roll-total {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
    }
    
    .roll-result, .titre-suggest {
        font-size: 1.3em;
        text-align: center;
    }
    
    .nom-suggest {
        font-weight: bold;
    }
    
    .dices-pool {
        display: flex;
        justify-content: center;
    }
    
    .dice-back {
        display: flex;
        justify-content: center;
        margin: 3px;
    
        .roll {
            width: 30px;
            line-height: 30px;
            font-size: var(--font-size-16);
            font-weight: bold;
            text-align: center;
            margin: 3px;
        }
    
        .d10 {
            background: url("../images/dice/d10-grey.svg") no-repeat;
            color: black;
            background-size: 30px 30px;
        }
    
        .max {
            color: #18520b;
            filter: sepia(0.5) hue-rotate(60deg);
        }
    
        .min {
            color: #aa0200;
            filter: sepia(0.5) hue-rotate(-60deg);
        }
    }
}



.titre {
    margin-bottom: 0.25rem;
}

details {
    margin-bottom: 0.25rem;
}

.edit-comp-grid {
    display: grid;
    padding: 3px;
    align-content: start;
    grid-template-columns: 1fr 2.5em 2em 1fr 1fr;

    .ed-grid-titre {
        font-weight: bold;
        text-align: center;
        background-color: rgba(82, 77, 77, 0.075);
        padding: 3px;
        margin-bottom: 0.5rem;
    }

    .titre-comp {
        grid-column-start: span 5;
        font-weight: bold;
        margin: 2px;
    }

    .lbl-comp {
        position: relative;
        top: 7px;
        margin: 2px;
    }

    .dom-fixe {
        text-indent: 1em;
        position: relative;
        top: 7px;
        margin: 2px;
    }

    .dom-perso {
        margin: 2px;
    }

    .val-comp {
        text-align: center;
        margin: 2px;
    }
}