
@font-face {
    font-family: "Barbedor";
    src: url("../fonts/BarbedorTOT-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Lorgol";
    src: url("../fonts/Lorgol.ttf") format("truetype");
}