@font-face {
    font-family: "Barbedor";
    src: url("../fonts/Barbedor T Regular.ttf") format("truetype");
}

@font-face {
    font-family: "BarbedorMedium";
    src: url("../fonts/Barbedor T Medium.otf") format("opentype");
}


@font-face {
    font-family: "BarbedorItalic";
    src: url("../fonts/BarbedorTOT-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Lorgol";
    src: url("../fonts/Lorgol.ttf") format("truetype");
}
