.app.window-app.dialog {
    font-family: "BarbedorMedium";

    .titre {
        font: var(--font-lorgol-28px);
        text-align: center;

        .icone {
            font-size: 1.3rem;
            margin-right: 5px;
        }
    }

    .grid-dlg-comp {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 1fr 3.5em;
        align-items: center;
        grid-auto-rows: 30px;
        margin: 10px 0;

        .lib, .lib-chk {
            margin-left: 3px;
        }

        .lib-diff {
            margin-left: 10px;
        }

        .lib-chk {
            grid-column-start: span 3;
        }

        .val {
            text-align: center;
        }
    }

    .grid-entete, .grid-entete-sort, .grid-entete-art {
        
        .lib-ent, .lib-ent-all {
            text-align: center;
            font-size: 1.2em;
        }

        .lib-ent-all {
            grid-column-start: span 2;
        }

        .line {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            flex: 0 0 32px;
            border: none;
            height: 32px;
        }
    }

    .grid-entete {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding-bottom: 5px;
        margin: 5px 0;
        border-bottom: solid 2px;

        .red {
            color: red;
        }
    }

    .grid-entete-sort, .grid-entete-art {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        padding-bottom: 5px;
        margin: 5px 0;
        border-bottom: solid 2px;
    }

    .grid-att, .grid-att-dist, .grid-def, .grid-sort, .grid-sort-int, .grid-art, .grid-art-int, .grid-conj {

        .lib, .lib-lg, .lib-sel {
            margin-left: 3px;
        }

        .lib-d {
            margin-left: 6px;
        }

        .val {
            text-align: center;
        }
    }

    .grid-att, .grid-def, .grid-sort {
        display: grid;
        grid-template-columns: 1fr 3.5em 1fr 3.5em;
        align-items: center;
        grid-auto-rows: 30px;
        margin: 10px 0;

        .lib-all {
            grid-column-start: span 4;
            text-align: center;
            font-size: 1.15em;
        }

        .lib-lg {
            grid-column-start: span 3;
        }
    }

    .grid-att-dist, .grid-conj {
        display: grid;
        grid-template-columns: 1fr 3.5em 8.5em 3.5em;
        align-items: center;
        grid-auto-rows: 30px;
        margin: 10px 0;

        .lib-all {
            grid-column-start: span 4;
            text-align: center;
            font-size: 1.15em;
        }

        .lib-lg {
            grid-column-start: span 3;
        }

        .lib-sel {
            grid-column-start: span 2;
        }

        select {
            grid-column-start: span 2;
        }
    }

    .grid-sort-int, .grid-art-int {
        display: grid;
        grid-template-columns: 1fr 3.5em 1.25fr 8.5em;
        align-items: center;
        grid-auto-rows: 30px;
        margin: 10px 0;

        .lib-all {
            grid-column-start: span 4;
            text-align: center;
            font-size: 1.15em;
        }

        .lib-lg {
            grid-column-start: span 3;
        }
    }

    .grid-art, .grid-art-spe {
        
        .lib {
            margin-left: 3px;
        }

        .lib-all {
            grid-column-start: span 2;
            text-align: center;
            font-size: 1.15em;
        }
    }

    .grid-art {
        display: grid;
        grid-template-columns: 1fr 3.5em;
        align-items: center;
        grid-auto-rows: 30px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .grid-art-spe {
        display: grid;
        grid-template-columns: 1fr 11em;
        align-items: center;
        grid-auto-rows: 30px;
        margin-bottom: 10px;
    }
}