.agone.sheet.item {

    form {
        display: flex;
        flex-direction: column;
    }

    .sheet-header {

        img {
            border: none;
        }

        .item-name {
            font: var(--font-lorgol-nom-perso);
            flex-grow: 1;

            input {
                height: auto;
            }
        }
    }
}
.agone.sheet.item .sheet-content {

    nav.tabs {
        font-family: "BarbedorMedium";
        align-items: center;
    
        .active {
            font-weight: bold;
            font-size: 1.2em;
        }
    }
    
    .ligne-eff {
        display: grid;
        grid-template-columns: 1fr 2em;
        margin-bottom: 5px;
        align-items: center;

        .titre-eff {
            text-align: center;
            font: var(--font-lorgol-28px);            
        }

        .icone {
            text-align: center;
        }
    } 
    
    .desc-titre {
        text-align: center;
        font: var(--font-lorgol-28px);
    }

    .grid-2col {
        display: grid;
        grid-template-columns: 3fr 7fr;

        font-family: "BarbedorMedium";

        .col-stats {
            background: linear-gradient(to right; #00000000; #00000021;);
            padding: 5px;
        }
    }

    .grid-arme-stats, .grid-armure-stats, .grid-avg-stats, .grid-def-stats, .grid-botte-stats, .grid-ecole-stats, .grid-oeuvre-stats, 
    .grid-peine-stats, .grid-pvsais-stats, .grid-sort-stats  {

        .lib-titre {
            grid-column-start: span 3;
            text-align: center;
            font: var(--font-lorgol-28px);
            margin-bottom: 5px;
        }

        .lib {
            grid-column-start: span 2;
        }

        .sel {
            margin: 2px;
            grid-column-start: span 2;
        }

        .val {
            margin: 2px;
            align-items: center;
            text-align: center;
        }

        .val-fixe {
            background-color: var(--color-stats-background);
            margin: 2px;
            text-align: center;
            align-items: center;
            border-radius: 3px;
            height: 26px;

            label {
                position: relative;
                top: 4px;
            }
        }
    }

    .grid-arme-stats, .grid-armure-stats, .grid-botte-stats, .grid-ecole-stats, .grid-oeuvre-stats, .grid-pvsais-stats, .grid-sort-stats {
        display: grid;
        grid-template-columns: 1fr 5.5em 3.5em;
        align-items: center;
    }

    .grid-avg-stats, .grid-def-stats, .grid-peine-stats {
        display: grid;
        grid-template-columns: 1fr 6.5em 3.5em;
        align-items: center;
    }

    .grid-danseur-stats, .grid-coniv-stats, .grid-equip-stats, .grid-man-stats, .grid-pvflam-stats {

        .lib-titre {
            grid-column-start: span 2;
            text-align: center;
            font: var(--font-lorgol-28px);
            margin-bottom: 5px;
        }

        .val {
            margin: 2px;
            align-items: center;
            text-align: center;
        }

        .val-fixe {
            background-color: var(--color-stats-background);
            margin: 2px;
            text-align: center;
            align-items: center;
            border-radius: 3px;
            height: 26px;

            label {
                position: relative;
                top: 4px;
            }
        }

        .icone {
            font-size: 0.8em;
        }

        .sel {
            margin: 2px;
        }
    }

    .grid-danseur-stats, .grid-equip-stats, .grid-man-stats, .grid-pvflam-stats {
        display: grid;
        grid-template-columns: 1fr 3.5em;
        align-items: center;
    }

    .grid-coniv-stats {
        display: grid;
        grid-template-columns: 1fr 1.7fr;
        align-items: center;
    }
}

.grid-sort-disp {
    display: grid;
    grid-template-columns: 2.5em 2fr 1fr 5em 5em;
    padding: 3px;
    align-items: center;
    text-align: center;

    .nova {
        align-self: normal;
    }

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.agone.sheet.item .sheet-content, .agone.sheet.item .sheet-body {
    display: flex;
    flex-direction: column;

    select {
        width: 100%;
    }

    .ed-100 { 
        min-height: 100px;
    }

    .ed-150 { 
        min-height: 150px;
    }

    .ed-200 { 
        min-height: 200px;
    }

    .ed-250 { 
        min-height: 250px;
    }

    .ed-350 { 
        min-height: 350px;
    }

    .ed-400 { 
        min-height: 400px;
    }

    .editor {
        min-height: inherit;
        background-color: var(--color-stats-background);
    }

    div {
        padding: 1px;
    }
}

.agone.sheet.item .sheet-footer {
    border-top: solid thin rgb(119, 119, 119);
    padding: 3px;  
}

.grid-titre {
    font-weight: bold;
    text-align: center;
    background-color: rgba(82, 77, 77, 0.075);
    border-top: solid thin rgb(119, 119, 119);
    padding: 3px;
}

.grid-oeuvre {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr repeat(4, 1fr);
    padding: 3px;
}

.grid-sort {
    display: grid;
    grid-template-columns: 1.5fr repeat(4, 1fr);
    padding: 3px;
}

.grid-peine {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 3px;
}

.grid-pvflamme, .grid-pvsaison {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3px;
}

.ligne-effet {
    display: grid;
    grid-template-columns: 2.5em 1fr 2em 2em;
    padding: 3px;
    text-align: center;

    > * {
        padding: 3px;
    }

    img {
        border: none;
    }
}

.ligne-effet.titre {
    font-weight: bold;
    text-align: center;
    background-color: rgba(82, 77, 77, 0.075);
    border-top: solid thin rgb(119, 119, 119);
    padding: 3px;
}