<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        {{> "systems/agone/templates/partials/bloc-infos-personnage.hbs"}}
    </header>
    <div class="sheet-fixed-content">
        <div class="actor-flamme">
            <div>
                <label>{{localize "agone.aspects.flamme"}}</label>
                <div class="small-size"><input name="data.caracSecondaires.flamme" type="number" value="{{data.caracSecondaires.flamme}}" placeholder="0" readonly/></div>
            </div>
            <div>
                <label>{{localize "agone.aspects.flammeNoire"}}</label>
                <div class="small-size"><input name="data.caracSecondaires.flammeNoire" type="number" value="{{data.caracSecondaires.flammeNoire}}" placeholder="0" readonly/></div>
            </div>
            <div>
                <label>{{localize "agone.caracteristiques.heroisme"}}</label>
                <div class="small-size"><input name="data.caracSecondaires.heroisme.value" type="number" value="{{data.caracSecondaires.heroisme.value}}" placeholder="0"/></div>
                <label> / </label>
                <div class="small-size"><input name="data.caracSecondaires.heroisme.max" type="number" value="{{data.caracSecondaires.heroisme.max}}" placeholder="0" readonly/></div>
            </div>
        </div>
        <div class="actor-aspects-and-caracs">    
            {{> "systems/agone/templates/partials/bloc-aspect-personnage.hbs"}}
        </div>
    </div>
    <nav class="sheet-tabs tabs" data-group="principal">
        <a class="item" data-tab="competences">{{localize "agone.common.competences"}}</a>
        <a class="item" data-tab="caracSecondaires">{{localize "agone.common.caracsSecondaires"}}</a>
        <a class="item" data-tab="combat">{{localize "agone.common.combat"}}</a>
        <a class="item" data-tab="magie">{{localize "agone.common.magie"}}</a>
        <a class="item" data-tab="avantagesDefauts">{{localize "agone.common.avantages"}} / {{localize "agone.common.defauts"}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab" data-group="principal" data-tab="competences">
            {{> "systems/agone/templates/partials/bloc-competences-personnage.hbs"}}
        </div>
        <div class="tab" data-group="principal" data-tab="caracSecondaires">
            {{> "systems/agone/templates/partials/bloc-caracSec-personnage.hbs"}}
        </div>
        <div class="tab" data-group="principal" data-tab="combat">
            <div class="recap">
                <div>
                    <label>{{localize "agone.caracteristiques.melee"}}</label>
                    <div>{{data.aspects.corps.caracteristiques.melee.valeur}}</div>
                </div>
                <div>
                    <label>{{localize "agone.caracteristiques.tir"}}</label>
                    <div>{{data.aspects.corps.caracteristiques.tir.valeur}}</div>
                </div>
                <div>
                    <label>{{localize "agone.caracteristiques.bonusDommages"}}</label>
                    <div>{{data.caracSecondaires.bonusDommages}}</div>
                </div>
            </div>
            <h3>{{localize "agone.competences.armes"}}</h3>
            <div class="liste-armes">
                {{> "systems/agone/templates/partials/bloc-liste-armes-personnage.hbs"}}
            </div>
            <h3>{{localize "agone.common.armures"}}</h3>
            <div class="liste-armures">
                {{> "systems/agone/templates/partials/bloc-liste-armures-personnage.hbs"}}
            </div>
        </div>
        <div class="tab magie-content" data-group="principal" data-tab="magie">
            <nav class="magie-tabs tabs" data-group="magie">
                <a class="item" data-tab="emprise">{{localize "agone.caracteristiques.emprise"}}</a>
                <a class="item" data-tab="artsMagiques">{{localize "agone.competences.artsMagiques"}}</a>
                <a class="item" data-tab="conjuration">{{localize "agone.common.conjuration"}}</a>
            </nav>
            <div class="tab" data-group="magie" data-tab="emprise">
                <div class="recap">
                    <div>
                        <label>{{localize "agone.caracteristiques.emprise"}}</label>
                        <div>{{data.aspects.esprit.caracteristiques.emprise.valeur}}</div>
                    </div>
                    <div>
                        <label>{{localize "agone.competences.resonance"}}</label>
                        <select name="data.caracSecondaires.resonance">
                            {{#select data.caracSecondaires.resonance}}
                                {{#each config.resonances as |name type|}}
                                    <option value="{{type}}">{{localize name}}</option>
                                {{/each}}
                            {{/select}} 
                        </select>
                    </div>
                    <div> 
                        {{#with data as | dt | }}
                            {{#each dt.familleCompetences.occulte.competences.resonance.domaines as |reso keyReso|}}
                                {{#if (eq keyReso dt.caracSecondaires.resonance )}}
                                    <label>Rang</label>
                                    <div>{{reso.rang}}</div>
                                {{/if}}
                            {{/each}}
                        {{/with}}
                    </div>
                    <div>
                        <label>{{localize "agone.competences.connDanseurs"}}</label>
                        <div>{{data.familleCompetences.occulte.competences.connDanseurs.rang}}</div>
                    </div>
                </div>
                <h3>{{localize "agone.common.danseurs"}}</h3>
                <div class="liste-danseurs">
                    {{> "systems/agone/templates/partials/bloc-liste-danseurs-personnage.hbs"}}
                </div>
                <h3>{{localize "agone.common.sorts"}}</h3>
                <div class="liste-sorts">
                    {{> "systems/agone/templates/partials/bloc-liste-sorts-personnage.hbs"}}
                </div>
            </div>
            <div class="tab" data-group="magie" data-tab="artsMagiques">
                <div class="recap">
                    <div>
                        <label>{{localize "agone.caracteristiques.art"}}</label>
                        <div>{{data.aspects.ame.caracteristiques.art.valeur}}</div>
                    </div>
                </div>
                <h3>{{localize "agone.common.oeuvres"}}</h3>
                <div class="liste-oeuvres">
                    {{> "systems/agone/templates/partials/bloc-liste-oeuvres-personnage.hbs"}}
                </div>
            </div>
            <div class="tab" data-group="magie" data-tab="conjuration">
                <div class="recap">
                    <div>
                        <label>{{localize "agone.caracteristiques.noirceur"}}</label>
                        <div>{{data.caracSecondaires.noirceur}}</div>
                    </div>
                    <div>
                        <label>{{localize "agone.competences.demonologie"}}</label>
                        <div>{{data.familleCompetences.occulte.competences.demonologie.rang}}</div>
                    </div>
                </div>
                <h3>{{localize "agone.common.connivences"}}</h3>
                <div class="liste-connivences">
                    {{> "systems/agone/templates/partials/bloc-liste-connivences-personnage.hbs"}}
                </div>
            </div>
        </div>
        <div class="tab" data-group="principal" data-tab="avantagesDefauts">
            <h3>{{localize "agone.common.avantages"}}</h3>
            <div class="liste-avantages">
                {{> "systems/agone/templates/partials/bloc-liste-avantages-personnage.hbs"}}
            </div>
            <h3>{{localize "agone.common.defauts"}}</h3>
            <div class="liste-defauts">
                {{> "systems/agone/templates/partials/bloc-liste-defauts-personnage.hbs"}}
            </div>
        </div>
    </section>
    <!-- <footer class="sheet-footer">    
    </footer> -->
</form>