<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        {{> "systems/agone/templates/partials/actors/bloc-infos-personnage.hbs"}}
    </header>
    <div class="sheet-fixed-content">
        <div class="actor-aspects-and-caracs">    
            {{> "systems/agone/templates/partials/actors/bloc-aspect-terne.hbs"}}
        </div>
    </div>
    <nav class="sheet-tabs tabs" data-group="principal">
        <a class="item" data-tab="competences">{{localize "agone.actors.competences"}}</a>
        <a class="item" data-tab="combat">{{localize "agone.actors.combat"}}</a>
        <a class="item" data-tab="magie">{{localize "agone.actors.magie"}}</a>
        <a class="item" data-tab="avantagesDefauts">{{localize "agone.actors.avantages"}} / {{localize "agone.actors.defauts"}}</a>
        <a class="item" data-tab="equipement">{{localize "agone.actors.equipement"}}</a>
        <a class="item" data-tab="histoire">{{localize "agone.actors.histoire"}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab" data-group="principal" data-tab="competences">
            {{> "systems/agone/templates/partials/actors/bloc-competences-personnage.hbs"}}
        </div>
        <div class="tab" data-group="principal" data-tab="combat">
            {{> "systems/agone/templates/partials/actors/bloc-recap-combat-personnage.hbs"}}
            <h3>{{localize "agone.actors.armes"}}</h3>
            <div class="liste-armes">
                {{> "systems/agone/templates/partials/actors/bloc-liste-armes-personnage.hbs"}}
            </div>
            <h3>{{localize "agone.actors.armures"}}</h3>
            <div class="liste-armures">
                {{> "systems/agone/templates/partials/actors/bloc-liste-armures-personnage.hbs"}}
            </div>
        </div>
        <div class="tab magie-content" data-group="principal" data-tab="magie">
            <nav class="magie-tabs tabs" data-group="magie">
                <a class="item" data-tab="emprise">{{localize "agone.actors.emprise"}}</a>
                <a class="item" data-tab="artsMagiques">{{localize "agone.actors.artsMagiques"}}</a>
                <a class="item" data-tab="conjuration">{{localize "agone.actors.conjuration"}}</a>
            </nav>
            <div class="tab" data-group="magie" data-tab="emprise">
                {{> "systems/agone/templates/partials/actors/bloc-recap-emprise-personnage.hbs"}}
                <h3>{{localize "agone.actors.danseurs"}}</h3>
                <div class="liste-danseurs">
                    {{> "systems/agone/templates/partials/actors/bloc-liste-danseurs-personnage.hbs"}}
                </div>
                <h3>{{localize "agone.actors.sorts"}}</h3>
                <div class="liste-sorts">
                    {{> "systems/agone/templates/partials/actors/bloc-liste-sorts-personnage.hbs"}}
                </div>
            </div>
            <div class="tab" data-group="magie" data-tab="artsMagiques">
                {{> "systems/agone/templates/partials/actors/bloc-recap-artsmagiques-personnage.hbs"}}
                <h3>{{localize "agone.actors.oeuvres"}}</h3>
                <div class="liste-oeuvres">
                    {{> "systems/agone/templates/partials/actors/bloc-liste-oeuvres-personnage.hbs"}}
                </div>
            </div>
            <div class="tab" data-group="magie" data-tab="conjuration">
                {{> "systems/agone/templates/partials/actors/bloc-recap-conjuration-personnage.hbs"}}
                <h3>{{localize "agone.actors.connivences"}}</h3>
                <div class="liste-connivences">
                    {{> "systems/agone/templates/partials/actors/bloc-liste-connivences-personnage.hbs"}}
                </div>
            </div>
        </div>
        <div class="tab" data-group="principal" data-tab="avantagesDefauts">
            <h3>{{localize "agone.actors.avantages"}}</h3>
            <div class="liste-avantages">
                {{> "systems/agone/templates/partials/actors/bloc-liste-avantages-personnage.hbs"}}
            </div>
            <h3>{{localize "agone.actors.defauts"}}</h3>
            <div class="liste-defauts">
                {{> "systems/agone/templates/partials/actors/bloc-liste-defauts-personnage.hbs"}}
            </div>
        </div>
        <div class="tab" data-group="principal" data-tab="equipement">
            {{> "systems/agone/templates/partials/actors/bloc-recap-equipement-personnage.hbs"}}
        </div>
        <div class="tab fullheight" data-group="principal" data-tab="histoire">
            <div class="recap">
                <div>
                    <label>{{localize "agone.actors.tenebre"}}</label>
                    <div class="small-size"><input name="system.caracSecondaires.tenebre" type="number" value="{{data.system.caracSecondaires.tenebre}}" placeholder="0" min="0"/></div>
                </div>
                <div>
                    <label>{{localize "agone.actors.perfidie"}}</label>
                    <div class="small-size"><input name="system.caracSecondaires.perfidie" type="number" value="{{data.system.caracSecondaires.perfidie}}" placeholder="0" min="0"/></div>
                </div>
                <div>
                    <label>{{localize "agone.actors.experienceDisponible"}}</label>
                    <div class="small-size"><input name="system.experience.disponible" type="number" value="{{data.system.experience.disponible}}" placeholder="0" min="0"/></div>
                </div>
                <div>
                    <label>{{localize "agone.actors.experienceTotale"}}</label>
                    <div class="small-size"><input name="system.experience.totale" type="number" value="{{data.system.experience.totale}}" placeholder="0" min="0"/></div>
                </div>
            </div>
            <div>{{localize "agone.actors.apparence"}}</div>
            {{editor data.system.apparence target="system.apparence" button=true owner=true editable=true}}
            <div>{{localize "agone.actors.biographie"}}</div>
            {{editor data.system.biographie target="system.biographie" button=true owner=true editable=true}}
        </div>
    </section>
    <!-- <footer class="sheet-footer">    
    </footer> -->
</form>