<div class="suggest-crit">
    <div class="titre-suggest">{{ localize "agone.chat.interpretationCritique"}}</div>
    <div class="nom-suggest">{{ localize nomCritique}}</div>
    <div class="desc-suggest">{{localize descCritique}}</div>
</div>

