<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "agone.common.type"}}</th>
                <th>{{localize "agone.trouble.level"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="data.type">
                        {{#select data.type}}
                        {{#each config.troubleTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}} 
                    </select>
                </td>
                 <td>
                     <input name="data.level" type="text" value="{{data.level}}" data-dtype="Number" />
                 </td>
            </tr>
        </table>
        <div>
            <span>{{localize "agone.trouble.descriptionLabel"}}</span>
            <!-- <textarea name="data.description">{{data.description}}</textarea> -->
        </div>
        {{editor content=data.description target="data.description" button=true owner=true editable=true}}
        <!-- Gérer la sélection du bienfait associé -->
    </div>
</form>